[2013-11-23 21:25] angelozerr opened #1 "Auto-close {{"
When {{ is typed, the editor should add with }} to close it. This feature could be an option in a AngularJS Project Preferences.

[2013-11-28 23:08] #1 closed, assigned to nobody

[2013-12-16 15:02] lastnico opened #2 "Make this plugin compatible with JSP Editor"
First, thanks for this _great_ idea.

Second, unfortunately, I have troubles with your Eclipse plugin when I try opening a JSP file, either with the standard JSP Editor or with the AngularJs Editor: the ng- attributes are not recognized, while this is the case if I open an ".html" file extension.

I have tried opening either with the "Open With" feature or modifying the file association with edito

[2013-12-19 08:45] angelozerr opened #3 "Develop JUnit for node.js tern server"
Develop JUnit for node.js tern server.

@pascalleclercq : initialize maven to do JUnit and JUnit must work with any OS (start the well node exe).
@angelozerr : develop JUnit for Develop JUnit for node.js tern server.

[2013-12-20 08:43] #3 closed, assigned to pascalleclercq

[2013-12-30 13:54] angelozerr opened #4 "Completion doesn't work for HTML Templates"
In the HTML editor, Module, Controller, expression completion doesn't works with HTML Templates because :

1) HTML Templates doesn't include scripts.
2) HTML Templates cannot define the controller (the controller is defined with $routeProvider). See sample at https://github.com/angular/angular-phonecat/blob/master/app/js/app.js

The Angular HTML Editor doesn't work with the sample at https://githu

[2014-01-10 23:47] #4 closed, assigned to nobody

[2014-01-13 08:19] angelozerr opened #5 "Manage Hyperlink inside angular expression HTML editor"
In HTML editor, hyperlink should be available inside angular expression to open the Javascript editor and select the well javascript object, methods used in the expression.

[2014-01-13 08:23] angelozerr opened #6 "Load the tree of the "Angular Explorer" View in a job"
The tree of the "Angular Explorer" View can be slow to load the first time if Javascript files to parse with tern are big.

Today when the tree loads must parse big js files, the UI is frozzen. To resolve that, the tree should be loaded in a WorkbenchJob like it was done here
https://www.assembla.com/code/smart-cs/subversion-2/node/blob/trunk/source/java/org.wcs.smart.patrol/src/org/wcs/smart/patr

[2014-01-13 08:53] angelozerr opened #7 "Completion for filter inside ngRepeat"
Completion for filter inside ngRepeat

[2014-01-13 08:54] angelozerr opened #8 "Manage custom directive"
With Angular you can create your own directive. AngularJS Eclipse should retrieve those custom directive and use it in HTML editor (completion+syntax coloring) and display it in the angular explorer.

To do that, there is 2 solutions :
- uses tern to parse JS file which defines directive and retrieve needed information. I don't know if it's easy?
- gives the capability to add xml directive build-i

[2014-01-13 14:27] angelozerr opened #9 "Parse JS file of tern doc with monitor"
Parse JS file of tern doc with monitor

[2014-01-13 14:28] #9 closed, assigned to nobody

[2014-01-14 08:39] angelozerr opened #10 "Manage completion for angular-bootstrap"
Completion on angualr expression doesn't work when angular bootstrap is used https://egghead.io/lessons/angularjs-angular-bootstrap-app-init

[2014-01-14 11:09] angelozerr opened #11 "Add EPL License for the update site"
Add EPL  License for the update site of tern.java and angualrjs eclipse

[2014-01-18 09:16] #10 closed, assigned to nobody

[2014-01-18 17:02] atsu85 opened #12 "support head.js for loading scripts instead of using script html elements"
Support http://headjs.com/ for loading javascript files from other javascript files instead of using script html element.
My project setup uses head.js javascript library to include other javascript files - looks like angular plugin doesn't support it right now and for that reason doesn't provide much help for me in terms of content assist in controller/directive templates.

[2014-01-18 17:14] atsu85 opened #13 "html editor could suggest directive parameters"
I don't know how easy it is to implement this feature for custom angular directives that are defined in the project (probably not very hard due to using tern), but for angular built-in directives, that are described in xml, it should be fairly simple.

For example if html element already contains ng-pluralize, then "count", "when" and "offset" attributes (that are parameters to ng-pluralize direct

[2014-01-18 19:48] #12 closed, assigned to nobody

[2014-01-18 19:51] #2 closed, assigned to nobody

[2014-01-25 15:15] angelozerr opened #14 "Manage directive as HTML element"
Some directive can be used as HTML element. http://docs.angularjs.org/api/ng.directive:ngPluralize is a sample :

[code]

It should be cool to have completion, hover, validation for that

[2014-01-25 15:17] #13 closed, assigned to nobody

[2014-02-06 08:59] angelozerr opened #15 "directive html doesn't propose variables/functions available in the scope"
4.1) ...through directive parameters - for example:
    scope : {
      phone : '=',
      colors : "=",
      linkPrefix : '@'
    },
OR
4.2) ...that are added there through angular.extend() as follows:
      angular.extend($scope, {
        obj: {"tere": "tere!", "key": "value"},
        fun: function() {
            alert("i'm available throuogh $scope and could as well have been defined as fol

[2014-02-07 16:46] angelozerr opened #16 "Manage directive as class element"
Manage directive as class element

[2014-02-07 16:48] angelozerr opened #17 "manage special properties for ngRepeat in HTML editor"
Using ngRepeat in HTML provides several properties like $index, $first, etc
Completion should  provide those properties.

See http://docs.angularjs.org/api/ng.directive:ngRepeat

[2014-02-07 16:57] angelozerr opened #18 "Settings for directive syntax"
Using directiv ein HTML editor follows several syntax :
- start with '', or 'x-', or 'data-'
- delimiter ':', '-', '_'

Today directive completion in HTML editor shows the whole syntaxes. It should be good to have a settings (Angular Property -> Syntax in the Project Preferences) to choose the syntax.

[2014-02-09 02:27] jaybe78 opened #19 "ng-model and ng-submit doesn't appear within the autocomplete list in html page"

[2014-02-09 23:27] #19 closed, assigned to nobody

[2014-02-10 15:29] #18 closed, assigned to nobody

[2014-02-10 16:38] #11 closed, assigned to pascalleclercq

[2014-02-11 11:06] #14 closed, assigned to nobody

[2014-02-12 01:48] DinisCruz opened #20 "Couple bugs on todo demo file"
There are several extra weird javascript entries on: https://github.com/angelozerr/angularjs-eclipse/blob/master/TestAngularProject/todos/todo.js  (lines 3, 8 and 15)

On line 21 the input type should be 'text' not button (https://github.com/angelozerr/angularjs-eclipse/blob/master/TestAngularProject/todos/index.html#L21)

I will try to send a pull request with the fixes later

[2014-02-12 03:31] DinisCruz opened #21 "Missing css file in TestAngularProject/index.htm"
the css referenced in https://github.com/angelozerr/angularjs-eclipse/blob/master/TestAngularProject/AngularJS-Directive-Controllers/index.htm#L8

[code]

is not on the app folder: https://github.com/angelozerr/angularjs-eclipse/tree/master/TestAngularProject/AngularJS-Directive-Controllers/app

[2014-02-12 04:02] #21 closed, assigned to nobody

[2014-02-12 04:03] #20 closed, assigned to nobody

[2014-02-18 09:36] #8 closed, assigned to nobody

[2014-02-24 14:01] vrubezhny opened #22 "NullPointerException in TernServerManager.refresh()"
What I did to get this:

Installed from http://oss.opensagres.fr/tern.repository/1.0.0-SNAPSHOT/ into Luna and WTP 3.6.m5 candidate.
Opened Window->Preferences->Tern->Node.js Preference Page and selected "Node.js v0.10.22 - linux.gtk.x86_64" (probably installed somewhere in my environment), then pressed "OK"

The result was the following exceptin in Error Log:

!ENTRY org.eclipse.ui 4 0 2014-02-24

[2014-02-24 14:14] #22 closed, assigned to nobody

[2014-03-02 11:57] angelozerr opened #23 "Manage global validator for AngularJS to ignore warn with directive (ng-*+custom)"
Manage global validator for AngularJS to ignore warn with directive (ng-*+custom)

[2014-03-02 11:59] #23 closed, assigned to nobody

[2014-03-03 12:44] jabby opened #24 "Autocomplete after renaming"
If you change the name of a module, the old name is always in content assist.
The validation doesn't show the error.

[2014-03-04 21:51] vrubezhny opened #27 "Deadlock in AngularJS-eclipse/Tern.java"
Have angular-phonecat example project (https://github.com/angular/angular-phonecat.git) imported into my Eclipse (the project has a number of steps, that are hidden under different branches, so I've executed 'git checkout step-5' before starting to play with that project).
Have added pretty much of project folders at Tern->Script Paths project property page
Have turned on the Tern Console output a

[2014-03-06 14:52] #27 closed, assigned to nobody

[2014-03-15 08:28] paulvi opened #28 "Spread the word and binaries"
As suggested in Nodeclipse/nodeclipse-1#119 please create entry on Marketplace.

Can I include angularjs-eclipse into Enide Studio ? http://sourceforge.net/projects/nodeclipse/files/Enide-Studio-2014/

I usually test/use plugin before including, but I am not [yet] developing with angular.
So I hope you agree and actively support. For example: Nodeclipse is released every month http://www.nodeclips

[2014-03-15 08:35] paulvi opened #29 "[question] angularjs-eclipse dependencies"
Does angularjs-eclipse depends only on JSDT, and not HTML Editor from WebTools?
see https://github.com/angelozerr/tern.java/wiki/Tern-Eclipse-IDE ,
http://marketplace.eclipse.org/content/html-editor-standard

[2014-03-15 08:51] paulvi opened #30 "[question] embedded Node.js"
Came when reading https://github.com/angelozerr/angularjs-eclipse/wiki/Getting-Started

How embedded Node.js can be used?
What version is included, and how often will it be updated?

Would it be easy to call all node.js features?

[2014-03-16 12:51] paulvi opened #31 "Less categories in update site"
please use less categories in update site (for tern.java + angularjs-eclipse), just 1-2 would be enough. One category for 2-8 features. For example see Kepler update site

[2014-03-16 12:52] paulvi opened #32 "regular releases"
As you may have heard from different source regular and often releases are considered good practice. Even with alpha/beta there should be some reference points for users,
and one more reason for developers to keep thing clean and ready for release.

[2014-03-18 15:56] davidmichaelkarr opened #34 "Can't find controllers"
I may have multiple issues, but the first visible issue is that after installing and configuring everything according to the instructions, I still see red markers in my html for all the controller references, saying "Cannot find controller with name ...".  This is working code, so those controllers do exist.

After I saw this, I noticed that I had to add the relevant files to the "Script Paths" li

[2014-03-19 14:57] josebalius opened #35 "Question: Anyway to reference JS files in a different project?"
Hey there,

First of all, AWESOME job with this and THANK YOU. It has proved to be very useful to me.

I have one problem. At the moment we have 3 projects that we use in my job.

2 main projects and 1 common project - we use maven overlay at the point of compilation to merge the main project with the common project together.

The problem I am having is that if I reference a service from the main

[2014-03-20 06:47] paulvi opened #36 "Anide name"
Hello @angelozerr @pascalleclercq

Most people see @Nodeclipse as Eclipse plugin for Node.js, and I came with [Enide](http://marketplace.eclipse.org/content/enide-eclipse-nodejs-ide) as IDE that combines several plugins (including Nodeclipse). Enide is used for Eclipse package [Enide Studio](http://marketplace.eclipse.org/content/enide-studio-2014/). So basically there are Nodeclipse and Enide nam

[2014-03-20 19:24] davidmichaelkarr opened #37 "Tern->Node.js pref page says "Value must be an existing file" after upgrading plugin"
When I installed the plugin, I set it to point to the embedded instance.

Today I updated the plugin.  I didn't see the new behavior that I expected, so I tried exploring my settings.  I looked at this "Tern->Node.js" prefs page, and now I see that it says at the top "Value must be an existing file" with a red circle next to it.  I looked at the greyed out value of the "Node.js path" field, and I

[2014-03-20 19:46] davidmichaelkarr opened #38 "Asking to navigate into an unknown controller causes seemingly infinite loop"
I have a project that works, but for some reason the plugin isn't recognizing my controller references.  I don't know why that's happening, but that's a different problem.

I had a crazy idea of simply putting my cursor on the controller name reference and pressing the key I have bound to navigate to that component (F3, in my case), just to see what it would do.  I figured it would report an error

[2014-03-20 22:13] #37 closed, assigned to nobody

[2014-03-20 22:25] angelozerr opened #39 "Manage "circular" dependencies in Angular module"
Manage "circular" dependencies in Angular module

See original problem from https://github.com/angelozerr/angularjs-eclipse/issues/34

[2014-03-21 08:56] #35 closed, assigned to nobody

[2014-03-21 09:30] #39 closed, assigned to nobody

[2014-03-21 12:35] angelozerr opened #40 "Add "Stop" button to the Angular Explorer view"
Add "Stop" button to the Angular Explorer view to stop node.js tern server like "stop" button available in tern console.

[2014-03-21 15:30] #40 closed, assigned to angelozerr

[2014-03-21 19:05] davidmichaelkarr opened #41 "ngrepeat with "(AAA, BBB) in list" puts "(AAA, BBB)" into completions, not "AAA" and "BBB"."
Consider the following block of code:

If I move my cursor just past the "n" on line 1 and press ctrl-space, one of the first entries in the completion list should be "name".  Instead, what happens is that it says "No Default Proposals".

Next, delete the "n" and press ctrl-space.  One of the completions in the list is "(name, dataSource)", which isn't valid.  It should instead have both "name" an

[2014-03-23 17:35] davidmichaelkarr opened #42 "Refresh Angular Explorer when script paths setting changes"
I was viewing the Angular Explorer for a new project.  I then edited the project properties and set the script paths so it would find my scripts.  I clicked OK.  A reasonable expectation at that point is that Eclipse would refresh the project information views, like the Angular Explorer, without having to manually refresh.  However, nothing happens at this point.  Once I manually refreshed the Ang

[2014-03-24 12:09] #41 closed, assigned to nobody

[2014-03-24 21:03] #29 closed, assigned to nobody

[2014-03-27 09:10] paulvi opened #45 "line ending issue (CRLF) inside repository"
When checking out again I got

`Checkout conflict with files:
org.eclipse.angularjs.core/src/org/eclipse/angularjs/core/Module.java
org.eclipse.angularjs.ui/src/org/eclipse/angularjs/internal/ui/AngularUIMessages.properties
Checkout conflict with files:
org.eclipse.angularjs.core/src/org/eclipse/angularjs/core/Module.java
org.eclipse.angularjs.ui/src/org/eclipse/angularjs/internal/ui/AngularUIMess

[2014-03-27 21:56] #31 closed, assigned to nobody

[2014-03-29 13:50] paulvi opened #47 "<> tags are missing in content assist description"
just noticed that

tags themselves are missing.

I don't know if it is local issue or all description may have  such issue.

![](https://github.com/angelozerr/angularjs-eclipse/wiki/images/HTMLAngularEditorOverview.png)

[2014-03-30 19:34] #47 closed, assigned to nobody

[2014-03-31 16:02] davidmichaelkarr opened #48 "[question] Uses specific embedded version of AngularJS and JQuery?"
Does AngularJS-Eclipse use a specific embedded version of AngularJS and JQuery for its completions, or does it use the versions referenced by the code the user is working on?  I would think it would be ideal for it to be the latter, but I imagine that's not likely. If it does use a specific embedded version of each, is it possible to advertise those version numbers in some part of the plugin inter

[2014-04-14 14:09] angelozerr opened #51 "Loose tern nature."
I have a little problem with the patch https://github.com/angelozerr/angularjs-eclipse/pull/50 when :

1) I convert project to tern.
2) I convert project to angularjs eclipse.

I loose tern nature.

[2014-04-15 12:29] #51 closed, assigned to nobody

[2014-04-15 21:54] boazsapir opened #53 "AngularJS tags become undefined after saving the file"
I have a Google Web Application Project in Eclipse, and I installed the angularjs plugin. I converted the project to an AngularJS project and indeed my html files are opened automatically with the AngularJS editor. When I add a new AngularJS directive to the file, for example ng-app, I see that it is identified and the tooltip gives some explanation about it. However when I save the file with 'aut

[2014-04-16 10:11] #53 closed, assigned to nobody

[2014-05-02 13:00] #34 closed, assigned to nobody

[2014-05-02 13:01] #28 closed, assigned to nobody

[2014-05-02 13:03] #32 closed, assigned to nobody

[2014-05-03 09:49] ghost opened #57 "Syntax checking errors: The word 'html' is not correctly spelled"
This is to report strange syntax errors in angularjs-eclipse 0.1 editor - as shown below:

![screen shot 2014-05-03 at 11 04 10](https://cloud.githubusercontent.com/assets/3315320/2870020/896f4dcc-d2a3-11e3-9d79-a88f9de2b65c.png)

First case is the word "html" that would be mispelled in <!DOCTYPE>: this could be fixed spelling it "HTML" — looks like a Uppercase issue in the syntax checker to me.

[2014-05-04 13:13] #57 closed, assigned to nobody

[2014-05-12 12:05] ghost opened #58 "mature nature?"

[2014-05-12 12:06] #58 closed, assigned to nobody

[2014-05-15 21:48] #38 closed, assigned to nobody

[2014-05-19 06:42] #45 closed, assigned to nobody

[2014-05-19 06:44] #30 closed, assigned to nobody

[2014-05-19 16:55] yarramsetti opened #59 "Not working when used in combination with Aptana"
Angular Context Help does not come up when used with Aptana Plugin.
Either Aptana Plugin (which gives context help for css classes) OR AngularJS plugin can be use at any time.

Have to disable the 'Web' 'Nature' of Aptana in project settings for angularjs context help to work.

Would like to have both Aptana CSS context help and AngularJS context help when html file is opened.

Environment: Mac/Ec

[2014-05-20 10:22] paulvi opened #60 "Release 0.2 in May"
Is it possible to release 0.2 of angularjs-eclipse (and tern.java) in May?

Nodeclipse train could pick-up them for its monthly release http://www.nodeclipse.org/history

[2014-05-20 16:55] tan9 opened #61 "Syntax Coloring preference page will throw IllegalArugmentException while pressing OK if color preference was update outside"
When I set the syntax color from outside the preference page (specifically, from the eclipse-color-theme plugin), and navigate to the Syntax Coloring page, and press <kbd>OK</kbd>, following exception will be thrown:

[code]

[2014-05-21 07:50] #48 closed, assigned to nobody

[2014-05-24 06:40] ghost opened #62 "Error checking issue"
Hello,

I am getting 'missing' module / controler errors in this simple use case:

![screen shot 2014-05-24 at 08 44 11](https://cloud.githubusercontent.com/assets/3315320/3073835/e5b467f4-e30e-11e3-899a-7509b9c1452a.png)

![screen shot 2014-05-24 at 08 18 46](https://cloud.githubusercontent.com/assets/3315320/3073812/e4772c16-e30c-11e3-9a07-48e6601a0a87.png)

This controller is not 'missing' as i

[2014-05-24 20:46] #62 closed, assigned to nobody

[2014-05-27 13:37] kcabral43 opened #63 "Angular Explorer and requirejs"
Angular explorer isn't able to find angular modules when they are wrapped in define functions so that they may be loaded by requirejs. Is this supported or something you hope to support in the future?

[2014-05-28 07:34] #60 closed, assigned to nobody

[2014-05-31 23:40] masalinas opened #64 "error=13, Permission denied on Angular Explorer eclipse view"
When Open the Angular Explorer and open the modules folder of my index.html from the angular explorer view, I could see in the eclipse console view the following tern trace:

Nodejs Commnand: "/usr/local/bin/node" "/opt/eclipse/KEPLER/plugins/tern.server.nodejs_0.2.0.201405272009/node_modules/tern/bin/tern" --no-port-file
Project dir: /home/miguel/workspace/KEPLER/myAngular
.tern-project: {"ide":{

[2014-06-06 16:22] tracyajones opened #65 "getting unavailable attribute name"
I've just installed the plugin on kepler.  When i mouse over the ng-app (for example) I am getting Undefined attribute name.

Here are the versions i have installed.  Can you tell what I have done wrong??

[code]

[2014-06-11 01:56] alumni opened #67 "feature: import syntax coloring from HTML & JavaScript"
The current default colors don't look good when a syntax theme is installed. I suggest that the colors should be taken from the HTML and JavaScript syntax coloring by default.

[2014-06-11 02:07] alumni opened #68 "feature: project settings for interpolation markup"
The user can change the default values for interpolation markup using `$interpolateProvider` (by default `{{` and `}}` - called angularExpressionBorder in syntax coloring settings). This should either be configured in the project settings or automatically determined.

[2014-06-11 10:30] #67 closed, assigned to nobody

[2014-06-11 11:53] codeBYdivy opened #69 "Cannot find controller with name StoreControlller"
I am new to Angular.

I am trying some demo code from angular.org.

I found a Eclipse plugin for angular JS, i installed allthe necessary plugins,

But still there is some error that my controller is not detected. and some red line is coming for that.

But everything works fine in browser.

I searched for the issue similar and i found it as #34 but that was closed before giving the solution.

So i

[2014-06-16 14:24] #64 closed, assigned to nobody

[2014-06-18 09:58] angelozerr opened #70 "Support 'as' for controller inside ng-controller"
According https://docs.angularjs.org/api/ng/directive/ngController, you can specify 'as' inside ng-controller :

[code]

  Name: <input type="text" ng-model="settings.name"/>

Today AngularJS Eclipse support only simple name for controller.

[2014-06-18 10:02] angelozerr opened #71 "Support controller without $scope function parameter."
If we write controller with $cope function parameter :

[code]

StoreController is available inside HTML completion ng-controller.

But If we write controller without $cope function parameter :

[code]

StoreController is not available inside HTML completion ng-controller.

[2014-06-18 10:05] #69 closed, assigned to nobody

[2014-06-19 12:14] angelozerr opened #72 "Release 0.3 in June"
@pascalleclercq I create this issue to create the release 0.3.0 of tern.java + AngularJS Eclipse (perhaps this Week End?)

[2014-06-22 23:58] Matt-Robinson opened #73 "HTML Editor doesn't support ng-true-value or ng-false-value"
When validating HTML code containing attributes <b>ng-true-value</b> or <b>ng-false-value</b>, these are reported incorrectly as Undefined attribute names.

[2014-06-24 19:53] #72 closed, assigned to nobody

[2014-06-24 21:43] pascalleclercq opened #74 "Release 0.3 in June"

[2014-06-26 08:01] #74 closed, assigned to nobody

[2014-06-26 08:02] #63 closed, assigned to nobody

[2014-06-26 08:06] #65 closed, assigned to nobody

[2014-07-02 12:31] #70 closed, assigned to nobody

[2014-07-11 12:41] angelozerr opened #75 "Manage Hover inside angular expression HTML editor"
Manage Hover inside angular expression HTML editor. Is it possible?

[2014-07-16 21:05] tony-in-nz opened #76 "Can the tool be made to support webjars?"
Can the tool be made to support webjars?

Also note I am hassling MyEclipse to add your product to their "pre installed" suite.

These refer
http://www.myeclipseide.com/index.php?name=PNphpBB2&file=viewtopic&t=30258&highlight=

http://www.myeclipseide.com/index.php?name=PNphpBB2&file=viewtopic&p=136862#136862

Good luck with this excellent project.

[2014-07-25 09:42] angelozerr opened #77 "Release 0.4 in August"
If @pascalleclercq has time, release 0.4.0 should be done in August.

See https://github.com/angelozerr/angularjs-eclipse/wiki/New-and-Noteworthy-0.4.0 to know new features.

[2014-08-04 17:44] #59 closed, assigned to nobody

[2014-08-04 20:59] #5 closed, assigned to nobody

[2014-08-04 20:59] #75 closed, assigned to nobody

[2014-08-06 09:40] #36 closed, assigned to nobody

[2014-08-09 00:05] alirezamirian opened #78 "Angular HTML code completion doesn't work with Aptana 3.6.0(.201407100658)"
here is the text of error from Error Log:
IWAE0100E Extension configuration error. An internal error has happened, the validator org.eclipse.angularjs.core has incorrectly configured the validation extension point.

[2014-08-09 10:14] angelozerr opened #79 "Completion, Hover, Hyperlink, Validation for CSS className inside class attribute"
It should be very good to benefit with CSS class name Completion, Hover, Hyperlink, Validation inside class attribute :

[code]

Perhaps it's an issue for WTP?

@vrubezhny do you think it's easy to do? Do you think WTP could manage that?

[2014-08-09 10:21] angelozerr opened #80 "Manage angular expression highlight inside JSP, JSF like HTML editor"
Today only HTML editor provides highlight for angular expression.

To do that an angular editor was created to use the angular highlighter which uses angular region. Those angular region comes from the JFLex parser https://github.com/angelozerr/angularjs-eclipse/blob/master/org.eclipse.angularjs.core/Resource/parserTools/highlighting/AngularTokenizer.jflex  which was modified from HTML jflex to su

[2014-08-09 13:40] damnhandy opened #81 "Cannot install under Eclipse Luna with Spring IDE 3.6.0 and AJDT 2.2.4 installed"
Under Eclipse Luna with Spring IDE 3.6 and ADJT 2.2.4, I cannot install the plugins. More specifics on the version of Eclipse:

[code]

These are the error messages I see in the error log:

[code]

[2014-08-11 09:27] #78 closed, assigned to nobody

[2014-08-13 12:56] #77 closed, assigned to pascalleclercq

[2014-08-13 22:19] #81 closed, assigned to nobody

[2014-08-14 03:32] paulvi opened #82 "org.eclipse is reserved for Eclipse Foundation projects only"
org.eclipse namespace is reserved for Eclipse Foundation projects only

[2014-08-19 18:37] angelozerr opened #83 "Webtools validation marks all ng-* attributes as unknown"
I'm attaching screenshot and an example webtools standard project with an angularjs app.

Here is a download of the example project

https://app.box.com/s/ie1irp22nkpxe231meur

![screenshot from 2014-08-14 13 24 33](https://cloud.githubusercontent.com/assets/595221/3916113/8e22a6cc-2373-11e4-9b52-8b0d79a87516.png)

[2014-08-22 14:59] angelozerr opened #84 "Remove "org.eclipse.angularjs.core.angularsource" content type"
The  content type "org.eclipse.angularjs.core.angularsource" is used to use a custom JFLex parser to create angular expression region. It work's great but there are some limitations :
- the JFlex parser was redefined only for HTML and not for JSP. So for JSP highlight cannot be done.
- HTML file must be opened with the specific AngularJS Editor which use LineStyleProviderForAngular to highlight an

[2014-08-24 18:41] #76 closed, assigned to nobody

[2014-08-24 18:45] #83 closed, assigned to angelozerr

[2014-08-24 18:46] #80 closed, assigned to angelozerr

[2014-08-25 09:14] #68 closed, assigned to angelozerr

[2014-08-26 10:07] #71 closed, assigned to angelozerr

[2014-08-26 11:08] paulvi opened #86 "[idea] Editor with 4 parts"
I came to the idea while reading http://viralpatel.net/blogs/angularjs-introduction-hello-world-tutorial/

that uses JSFiddle http://jsfiddle.net/viralpatel/vFcZ7/

[code]

As I understand AngularJS often has .js file with name matching those of .html,
so showing JS below HTML quite makes sense.

I saw Preview as HTML Editor Tab in JBoss Studio..

I wonder if it is feasible and easy to implement w

[2014-08-27 21:42] fbricon opened #88 ""Cannot find controller" marker doesn't disappear when expected"
This is a corner case, but I'm reporting it anyways :
- create a web project with angularjs nature
- create a new index.html page and copy the content of the index.html page of the todo example in https://angularjs.org/
- "Cannot find controller" error markers  appear for ng-app and ng-controller attributes, since the todo.js file, declaring the expected objects, doesn't exist yet
- create a new t

[2014-08-29 13:54] #84 closed, assigned to angelozerr

[2014-08-29 13:58] angelozerr opened #89 "Release 0.5 in September"
If @pascalleclercq has time, release 0.5.0 should be done in September.

See https://github.com/angelozerr/angularjs-eclipse/wiki/New-and-Noteworthy-0.5.0 to know new features.

[2014-08-29 15:45] angelozerr opened #90 "AngularJS support for PHP"
Gives the same support than HTML and JSP for Angular inside PHP.

Since 0.5.0 is based on semantich highlight and PDT is based on WTP, I think it should be easy to do that.

[2014-08-30 15:30] angelozerr opened #91 "[update site] AngularJS Eclipse & JSP Support"
- remove from angularjs-eclipse-feature

---

[code]
- create angularjs-eclipse-jsp-feature and add :

---

[code]
- in the category.xml add :

---

[code]

[2014-08-30 20:53] #91 closed, assigned to pascalleclercq

[2014-08-30 21:11] angelozerr opened #92 "Fix preferences for Angularjs Syntax Color"
Angularjs Syntax Color preview doesn't work since 0.5.0 uses semantic highlight.

Fix that in 0.6.0

[2014-09-01 15:26] #92 closed, assigned to angelozerr

[2014-09-01 23:57] #89 closed, assigned to pascalleclercq

[2014-09-02 09:57] verhagen opened #93 "Eclipse general update site references to version 0.4.0, instead of 0.5.0"
Eclipse general update site:
http://www.nodeclipse.org/updates/anide/
Not referencing to latest version:
http://oss.opensagres.fr/angularjs-eclipse/0.5.0/

[2014-09-03 01:50] MetaMemoryT opened #94 "Jade support"
How big of a project would it be to add tool-tip support to jade files? I found a basic jade editor here:

https://github.com/Nodeclipse/nodeclipse-1/tree/master/org.nodeclipse.enide.editors.jade

[2014-09-05 07:21] #79 closed, assigned to nobody

[2014-09-05 08:29] Tony-Proum opened #95 "Completion in directives configuration"
Hello,

It may be useful to have completion when writing a directive :

	app.directive('myDirective',function(){
	    return {
	      res//Ctrl + space displays '<NG>restrict : and possibles values'
	   };
	});

and to have completion when using directives :

	<my-directive val//Ctrl + space shows parameters availables in the directive's scope

Regards

[2014-09-07 13:40] gpicher opened #96 "Directives don't work, AngularJS editor not invokable, on all recent installation attempts (version mismatch with org.mozilla.javascript)"
Unfortunately I've had little luck fully successfully installing AngularJS Eclipse 0.5 on several machines with the latest Luna or Mars release of Eclipse. Directives don't show any help on hover, and there is not AngularJS editor to select from in editing a file. A few things do work, like the ng-app module itself (not the directive itself) showing the red A icon in some hover text.

I am guessin

[2014-09-08 16:54] vrubezhny opened #97 "AngularJS proposals in Angular Expressions should be higher than any other proposals (like tag proposals, etc.)"
When using Content Assist while editing Angular Expressions in text regions Content Assist Proposals are placed under the tonns of HTML tag proposals that actually aren't applicapable in Angular Expresstions.
Despite the fact that the priority for the Angular JS Proposals Category can be edited thrugh the Preferences, Angular Content Assist Proposals should be at top of the Proposal's List by Defa

[2014-09-08 19:40] #90 closed, assigned to angelozerr

[2014-09-09 11:43] kaloyan-raev opened #98 "PHP plugins should not depend on JSP plugins"
If I install the "AngularJS support for PHP" feature on top of the Eclipse for PHP Developers it also installs some JSP plugin, which in turn installs some JDT plugins. This is undesired since most PHP developers do not need any Java capabilities in the IDE.

I see that there is a dependency in the anglujarjs.php.ui plugin to the some JSP plugins:
https://github.com/angelozerr/angularjs-eclipse/bl

[2014-09-09 12:24] #98 closed, assigned to nobody

[2014-09-13 16:51] sebastienblanc opened #99 "No completion on Angular expression with 0.6.0"
Hi !
With 0.4.0 I was able to have code completion on my view template (searching for models in the scope) , I just tried the latest 0.6.0 and nothing is returned, from the log :

[code]

![screeshot](https://cloud.githubusercontent.com/assets/335133/4261261/196c69fc-3b66-11e4-836c-dceff55b5793.png)

I have a test project that used to work located here https://github.com/sebastienblanc/testionic

[2014-09-14 22:15] nicola883 opened #100 "Controllers list"
I've installed the plugin hoping to find the list of the controllers I've defined (injected with angular.controller()) in my code in the Outiline or other places.
I cannot see the way to have this.
Is it possible?
If it is not, I think this is a very important features to navigate in the code.

Many thanks,
Nicola.

[2014-09-15 09:53] #100 closed, assigned to nobody

[2014-09-15 13:35] #99 closed, assigned to nobody

[2014-09-15 22:52] jabby opened #101 "Some directives on input tag are not recognized"
I use some directives from angular on input tag and I notice that some are not recognized. For example :
- ng-trim
- ng-minlength
- ng-maxlength
- ...

Here an example to test :
<input
        type="text"
        name="test"
        required
        ng-model="test"
        ng-required="true"
        ng-minlength="1"
        ng-maxlength="10"
        ng-pattern="/^[0-9]{1,7}$/"
        ng-change="t

[2014-09-16 12:14] angelozerr opened #102 "Automatic link between HTML template & controller"
See https://thinkster.io/egghead/templateurl/ for a sample with templateUrl.

When templateUrl is used, today link between HTML file and JS controller is done at hand https://github.com/angelozerr/angularjs-eclipse/wiki/Angular-Explorer-View#user-content-html-template-linkunlink

It should be cool if tern plugin angular.js could retrieve the link between HTML template and controller : link will be

[2014-09-16 14:05] angelozerr opened #103 "Completion for templateUrl"
It should be cool to have templateUrl completion :

[code]

and

[code]

[2014-09-19 18:43] #96 closed, assigned to nobody

[2014-09-23 13:07] #86 closed, assigned to nobody

[2014-09-24 16:44] vrubezhny opened #106 "Tern error message appears in the log: "tern.TernException: TypeError: Cannot call method 'indexOf' of null""
For reference issue see: https://issues.jboss.org/browse/JBIDE-18422?focusedCommentId=13005620&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13005620

When using content assist in Angular Expression, an error message appears in Error Log:

!ENTRY org.eclipse.angularjs.ui 4 0 2014-09-24 10:23:27.513
!MESSAGE Error while tern completion.
!STACK 0
tern.TernException: T

[2014-09-25 11:34] #106 closed, assigned to nobody

[2014-10-08 17:36] davidmichaelkarr opened #107 "Converting existing app to angularjs resulted in invalid paths"
I reinstalled this plugin today after not looking at it for a while.

I'm on Windows 7, with Kepler.

After installing the plugin, I converted an existing project (the same one I've used to test this plugin in the past) to an AngularJS project.

It seemed to be confused for a  bit, with lots of red marks. I then opened the AngularJS Explorer, and it was initially empty.  At some point, I saw it po

[2014-10-09 15:54] angelozerr opened #108 "Don't use Eclipse nature to know if project is an AngularJS project"
When project is converted to AngularJS, it adds 2 natures :

[code]

Liferay and JBoss  uses ternNatureAdapaters extension to avoid adding thoses natures. If we have a project created inside JBoss plugins thoses 2 natures doesn't exists :

[code]

It work's well. But if we open this project in an Eclipse which have just AngularJS Eclipse, it doesn't work.

More if we have a project created by subl

[2014-10-10 09:37] jabby opened #109 "Regular freeze of UI"
I don't understand why but I have some problems since one week when I use the last version of AngularJS-Eclipse plugin. The UI freeze regularly and I need to kill Eclipse and to restart it.

I notice that node process (not embedded node) take between 1 to 1,5 Go of memory. Maybe it's the real problem. Do you have the same problem or an idea to correct this behavior ?

[2014-10-12 11:29] didlich opened #110 "HTML Formatter for unknown tags"
Hi,
nice and helpful plugin.
One thing was always annoying: HTML formatting of angular element directives. The default WTP HTML formatter put them in one line.

There are plugins, which solve this, like shown here:

[http://www.anagram.at/show/category/knowledge-transfer/](http://www.anagram.at/show/category/knowledge-transfer/)

but then angular features, like navigation feature, are not availabl

[2014-10-15 10:21] paulvi opened #111 "Converting to AngularJS project removes node module in `.tern-project`"
AnguarJS and Tern v0.6

`.tern-project` was

[code]

After project -> Configure -> Convert to AnguarJS, `.tern-project` became

[code]

no `node`

[2014-10-20 23:53] alexeykazakov opened #113 "StackOverflowError when using Angular Explorer View"
I have https://github.com/angular/angular-phonecat project in my workspace.
If I open Angular Explorer View and click on scripts or modules nodes with default settings, I get the following error:
[code]
The view starts working if I set angular-phonecat/app as the source folder in Project Properties->JavaScript->Include Path->Source instead of the root of the project: angular-phonecat

[2014-10-21 00:00] alexeykazakov opened #114 "AngularJS validation fails when editing file outside of workspace"
Open some angularJS page via File->Open FIle...
See the log:

[code]

[2014-10-21 00:11] dgolovin opened #115 "Ctrl+click hyperlink navigation from html element to Angular directive definition in JavaScript file"
Now for default ionic project there is hyperlink on ion-nav-bar, but nothing happens when it is clicked.

For ionic html below:

[code]

would be good to navigate to directive definition in ionic-angular.js

[code]

Vice versa would be good to be able to see all reference to ionNavBar directive in html files as ion-nav-bar element.

[2014-10-21 01:09] #114 closed, assigned to nobody

[2014-10-21 08:38] gamerson opened #116 "Add support for angularjs-eclipse features in advanced custom bootstrap scenarios like portlets"
If you import the test project here: https://github.com/gamerson/angular-portlet/tree/ide
You will notice that angularjs features are unable to work correctly.  Even with "hinting" by linking jsp files to certain modules it doesn't seem to work as expected.

[2014-10-21 10:00] paulvi opened #117 "Show docs for ng- and $- elements was: Note: AngularJS has all documentation inside sources"
From https://github.com/angular/angular.js/wiki/Writing-AngularJS-Documentation

That also means that documentation for currently used version get be extracted from non-minified angular.js file

<pre>
/**
 * @ngdoc function
 * @name angular.forEach
 * @module ng
 * @kind function
 *
 * @description
 * Invokes the `iterator` function once for each item in `obj` collection, which can be either an
 *

[2014-10-21 12:19] #93 closed, assigned to nobody

[2014-10-21 16:09] vrubezhny opened #118 "No modules found in angularjs_require example project"
Angelo,

could you, please, investigate why no modules could be detected on the following example project:

https://github.com/tastejs/todomvc/tree/master/examples/angularjs_require

Error annotations like 'Cannot find controller with name TodoController.' could be seen on <section id="todoapp" ng-controller="TodoController"> element's ng-controller attribute in index.html page.

As I can see, no

[2014-10-22 13:16] #116 closed, assigned to nobody

[2014-10-22 18:30] #24 closed, assigned to nobody

[2014-10-25 16:51] angelozerr opened #119 "Support for $*Provider tern completion"
Support for $*Provider tern completion https://docs.angularjs.org/api/ng/provider/

[2014-10-25 23:36] #119 closed, assigned to nobody

[2014-10-26 14:56] #107 closed, assigned to nobody

[2014-10-27 02:48] paulvi opened #120 "StackOverflow or empty while using AngularExplorer with Node.js"
I have just discovered AngularExplorer

![](https://cloud.githubusercontent.com/assets/1932211/4733260/32f81dde-59c6-11e4-87b3-43325c55ecad.png)

While giving a try, I got

[code]

[code]

Session Data

[code]

And then Eclipse suggesting to restart.

What I was doing was clicking on `script folder to expand`

![angularexplorer](https://cloud.githubusercontent.com/assets/1614482/4785634/de9e3852-5

[2014-10-28 01:06] #108 closed, assigned to nobody

[2014-11-04 14:24] mickaelistria opened #121 "Enabling angularjs facet should automaticaly configure HTML validation to ignore ng-*"
When a user enables AngularJS on a Web project, it would be convenient to configure the project HTML validation to ignore the ng-\* attributes (instead of showing them as warning).

cc @alexeykazakov @dgolovin

[2014-11-12 11:00] paulvi opened #122 "AngularExplorer does not refresh"
How to reresh AngularExplorer or on what event it should get itself refreshed?

[2014-11-12 11:06] paulvi opened #123 "Resource '/angularjs-in-30-minutes/.tern-project' does not exist."
I got interesting problem with `.tern-project` file

When I open  `.tern-project` file with Editor it shoues

as if it is not synced (I have autosync on access by default )

![angular122](https://cloud.githubusercontent.com/assets/1614482/5009141/044aacc4-6a9f-11e4-92ae-4bc5431b815b.PNG)

[2014-11-13 16:53] #42 closed, assigned to nobody

[2014-11-15 21:54] nicola883 opened #124 "Undefined attribute name in template"
I have installed the 0.7.0 version and converted the project to angulajs project.
I see in angular explorer all the modules under directories with the path and (jsdt) at the end.
The link to the "go to definition" works well.

But in the template I cannot have any directive completation or informations about them.
I cannot see any menu "Directives" under Angularjs in properties and any "script pat

[2014-11-18 10:32] dartmann opened #125 "Download from update site not possible"
While I tried to download the Eclipse Plugin from

[code]

**This error occured:**
![error image](http://www1.xup.to/exec/ximg.php?fid=29739836)

`Noteworthy`
- I'm using the latest version of Eclipse
- tried the same with http://oss.opensagres.fr/angularjs-eclipse/0.6.0/ --> same problem
  :confused:

Thanks for your help

[2014-11-21 20:59] angelozerr opened #127 "Remove angular nature adapter"
Remove angular nature adapter. See https://github.com/angelozerr/angularjs-eclipse/pull/126

[2014-11-21 23:36] #127 closed, assigned to nobody

[2014-11-21 23:38] #125 closed, assigned to nobody

[2014-12-02 11:11] #122 closed, assigned to nobody

[2014-12-02 11:11] #120 closed, assigned to nobody

[2014-12-04 03:54] trung opened #128 "Update site with latest release and snapshot via symlink"
Hi, is it possible to add symlink of the latest version to your update site? I know this is availabe in nodeclipse website too but it would make it consistent and great help for those pointing to your update site.

e.g.: http://oss.opensagres.fr/angularjs-eclipse/release/ -> http://oss.opensagres.fr/angularjs-eclipse/0.7.0/
http://oss.opensagres.fr/angularjs-eclipse/snapshot/ -> http://oss.opensag

[2014-12-10 16:39] jabby opened #129 "IStructuredDocumentRegion management failed."
Today I notice I have 2 exception in Error Log view.

## First exception
I don't know when it happen.

	java.lang.StringIndexOutOfBoundsException: String index out of range: 13
		at java.lang.String.substring(String.java:1950)
		at org.eclipse.angularjs.core.utils.AngularRegionUtils.getAngularELRegion(AngularRegionUtils.java:66)
		at org.eclipse.angularjs.core.utils.AngularRegionUtils.getAngularEL

[2014-12-12 10:16] angelozerr opened #130 "Rename/refactoring controller/services"
It should be cool if we could rename controller, services from JS editor or HTML editor.

This idea comes from http://stackoverflow.com/questions/27247621/eclipse-angularjs-plugin-rename-refactoring-functionality

To do that :
- implement tern refactoring https://github.com/angelozerr/tern.java/issues/42
- improve tern.js to customize refactoring

[2014-12-18 20:01] dgolovin opened #131 "java.lang.NullPointerException occurs sometimes when Tag Hoover requested in HTML editor"
[code]

[2014-12-19 07:04] #111 closed, assigned to nobody

[2014-12-21 17:35] cridlig opened #132 "Hovering on angular attributes does not work"
Hovering on angular attributes does not work.
For instance, the eclipse HTML editor will display: Undefined attribute name (ng-app)
The editor displays the yellow warning sign too.

On the other hand hovering works well in angularJS modules.

[2014-12-23 10:30] dgolovin opened #133 "Include sources into p2-repository"
Currently when developing angular-eclipse dependent features I have to import sources in workspase. Would be good to have sources available from p2-repository when includeSource="true" for location in .target file.

[2014-12-23 11:13] angelozerr opened #134 "Completion for modules dependencies angular.module(name, deps)"
[code]

[2014-12-23 11:15] angelozerr opened #135 "Hyperlink + Hover for modules dependencies angular.module(name, deps)"
* file1.js :

[code]

 * file2.js :

[code]

[2014-12-23 11:20] angelozerr opened #136 "Hyperlink for templateUrl"
[code]

[2014-12-23 15:32] angelozerr opened #137 "Extends angular tern plugin with other angular features."
https://github.com/angular-ui/ provides a lot of extensions for AngularJS with new modules. It should be good that angular tern plugin can be extended to support other angular tern plugin which provides new modules like https://github.com/angular-ui/ui-router

[2014-12-23 16:29] #132 closed, assigned to nobody

[2014-12-26 21:54] #131 closed, assigned to nobody

[2015-01-24 13:45] angelozerr commented on #133
Done with this PR https://github.com/angelozerr/angularjs-eclipse/pull/138

[2015-01-24 13:45] #133 closed

[2015-01-24 16:12] angelozerr commented on #137
Integrates Angular UI Router https://github.com/angelozerr/tern-angular-ui.router

[2015-01-24 16:13] angelozerr commented on #123
@paulvi is there again this problem?

[2015-01-24 16:34] angelozerr opened #139 "Release 0.8.0 in January"
See https://github.com/angelozerr/tern.java/issues/231

[2015-01-27 21:54] pascalleclercq commented on #139
Angelo. I think It's done now : http://oss.opensagres.fr/angularjs-eclipse/0.8.0/

You can now check and spread the world !!!

[2015-01-27 21:54] #139 closed

[2015-01-30 17:16] angelozerr commented on #123
I close this issue.

[2015-01-30 17:16] #123 closed

[2015-02-03 11:39] allvisa opened #141 "Eclipse IDE crashes with angularjs plugin"
If I install this plugin I cannot right click my project folder in eclipse anymore. If I uninstall the plugin again everything works fine. I still installed the JBoss-Tools und Spring-Plugin before.

I am using Eclipse Luna Service Release 1a (4.4.1) and tried it with Plugin-Version 0.8 and the latest 0.9 snapshot without sucess.

Thank you in advance for your help.

[2015-02-03 12:25] angelozerr commented on #141
JBoss-Tools have integrated tern.java and AngularJS Eclipse but I don't know which version.

Could you please install AngularJS Eclipse with a fresh Eclipse installation (without JBoss Tools)?

[2015-02-04 17:53] HamidBehnam opened #142 "Nested Controllers"
Hi there,

I tried to insert nested controllers but I got this error:

Multiple annotations found at this line:
	- Undefined attribute name (ng-controller).
	- Cannot find controller with name SecondController

Code:

![capture](https://cloud.githubusercontent.com/assets/5709332/6046133/577e3054-ac54-11e4-839e-f023fded85be.PNG)

[2015-02-04 22:07] angelozerr commented on #142
Please provide a basic sample (HTML + JS) with your case. Thanks.

[2015-02-04 22:30] HamidBehnam commented on #142
http://plnkr.co/edit/4vsbGawedMnKfh0mj74o

[2015-02-04 22:34] HamidBehnam commented on #142
If you try to change the value of ng-app and save the file and then roll back the change and save the file again, the error will be gone.

[2015-02-04 22:41] angelozerr commented on #142
It works for me?

[2015-02-04 22:46] HamidBehnam commented on #142
Yes the page works, and there isn't any problem with angularjs's functionality, but without change instruction that I wrote, the error message will be shown. If you have a team viewer installed I can show  you where's the problem.

[2015-02-04 22:58] angelozerr commented on #142
You mean taht you must save file in order to that error disapear. If it that it's because you have "Validation" in your Project Builder.

The error disappears when you save. It's the same behaviour with HTML validation.

[2015-02-04 23:57] HamidBehnam commented on #142
Validation (in Tern menu) is disabled.
I made a mistake about saving the file even there's no need to save the file, to disappear the error message I have to change the value of ng-app, and then when I roll back the value of the ng-app, the error message disappears.

[2015-02-05 00:50] angelozerr commented on #142
This Validation is only for JavaScript files if you select "lint" tern module.

I mean "Validation" in Builder menu. This Validation comes from Eclipse WTP

[2015-02-05 03:38] HamidBehnam commented on #142
I'm not gonna turn eclipse default validation off, you made an awesome plugin to use angularjs auto complete in eclipse, but why you don't want to figure this issue out?

Is this scenario normal?
"An error message appears, I add a character to the ng-app then I remove that character (without saving the file) and error disappear."

it sounds a little bit strange. doesn't it?

[2015-02-05 08:38] angelozerr commented on #142
I would like to help you, but I cannot reproduce your problem. Perhaps if you add some screenshot with your scenario, I could reproduce your problem?

[2015-02-05 20:50] HamidBehnam commented on #142
How can I send you a private message? I'd like to give you a Teamviewer session's password to show you the problem.

[2015-02-05 21:30] angelozerr commented on #142
I'm sorry I have no time for that. Please attach screenshots with your problem. Thanks!

[2015-02-05 21:32] angelozerr commented on #141
@allvisa have you some errors in the proble view or other?

[2015-02-05 22:03] HamidBehnam commented on #142
I'll not take about 20 screenshots since I've explained the issue very well, and the brief summary is: your plugin has some difficulties to recognize nested controllers.

Any way I've found some tricky ways to manage that (such as moving the nested controller one level up and then one level down !), I hope other users find some tricky ways too.

I'm not going to continue this thread since I think

[2015-02-06 04:24] angelozerr commented on #142
Sorry @HamidBehnam it's hard for me to find time.

I close this issue. I have retried your issue and for me it works.

[2015-02-06 04:24] #142 closed

[2015-02-06 04:25] angelozerr commented on #129
@jabby can I close this issue?

[2015-02-06 04:26] angelozerr commented on #124
@nicola883 can I close this issue?

[2015-02-06 04:27] angelozerr commented on #118
@vrubezhny can I close this issue?

[2015-02-06 04:28] #113 closed

[2015-02-06 04:32] angelozerr commented on #109
For your information, MyEclipse has provided a great configuration to avoid freeze with completion. See https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.9.0#asynch-tern-completion

[2015-02-06 13:32] jabby commented on #129
Yes of course.

[2015-02-06 13:32] #129 closed

[2015-02-08 02:13] angelozerr commented on #141
@allvisa could you give me some info please otherwise I will close this issue. Thanks.

[2015-02-09 22:37] pascalleclercq commented on #128
Hi,
I checked the documentation of online.net shared hosting (the one we have now).
It doesn't allow ssh, only ftp. and It seems to be impossible to do It with FTP only.

I'm sorry to say that I have no good solution on the short term.
I will have to renew the hosting in March, so possibly I will upgrade the hosting to allow ssh.

Let's let this case open for now.

[2015-02-10 16:21] nicola883 commented on #124
Dear Angelo,
I've checked all configurations and all looks ok, but still I don't see some completation.

In my index.html (an html files with ng-app and ng-controller as you suggest to try) I see:
- completation with list of modules, for example if I write:
ng-app=... I SEE the list of the modules

But I don't see completation after:
ng-...

and no output in term console.

In myApp.js I have:

[co

[2015-02-10 16:33] angelozerr commented on #124
@nicola883 please share your project which causes your problem. I think it will be more easy to discover the problem.

Please not that 0.8.0 was released since this issue.

[2015-02-12 12:18] plaskowski opened #143 "hyperlink: make "Tern - go to definiton" available as separate command"
https://github.com/angelozerr/angularjs-eclipse/wiki/Javascript-Features#hyperlink

Currently "Tern - go to definion" action is available only by "ctrl > mouse hover > select second menu entry".
It would be nice to have it available as command in Preferences > General > Keys so one can assign a hot-key.
Furthermore, is that possible to make it the default of ctr+click action so to skip hovering me

[2015-02-12 18:37] angelozerr commented on #143
I would like to do thay but I have not found how to do that. Any help are welcome.

[2015-02-24 07:58] angelozerr commented on #141
None answer, I close the issue.

[2015-02-24 07:58] #141 closed

[2015-03-02 08:47] paulvi opened #145 "How to debug an AngularJS application in Eclipse?"
Started as http://stackoverflow.com/questions/28787462/how-to-run-and-debug-an-angularjs-application-in-eclipse and https://github.com/Nodeclipse/nodeclipse-1/issues/178#issuecomment-76588646

Please advice on "How to debug an AngularJS application in Eclipse?"

[2015-03-02 09:09] angelozerr commented on #145
@paulvi to be honnest with you, I don't know what is it possible to do with Eclipse.

In my case I use Chrome to debug JavaScript.

[2015-03-05 06:35] paulvi commented on #36
BTW just found that

Tern is "Terns are seabirds in the family Sternidae that have a worldwide distribution and are normally found near the sea, rivers or wetlands."" https://en.wikipedia.org/wiki/Tern

Anide is Spanish for nest http://translate.google.cn/#es/en/anide

So it is all within birds theme

[2015-03-06 20:47] Archana14 opened #146 "AngularJs - Javascript editor does not open completion for angular model."
I have done AngularJs eclipse setup as per this tutorial.
But in JavaScript editor, it does not open completion for angular model.
In fact when enter dot(.) it doesn't show anything at all. I tried to trouble shoot as well as per tutorial.
I don't see any errors in error logs and console also shows all the tern related commands.

Thank you in advance

[2015-03-06 21:59] angelozerr commented on #146
I'm sorry but with your info, I cannot help you more.

Which version of AngularJS Eclipse have you installed?

Could you share please your project (ex : create a project in your github).

[2015-03-06 22:39] Archana14 commented on #146
Hi,
I am using AngularJS Eclipse 0.8.0.
I am using phonecat-app from https://github.com/angular/angular-phonecat
I just imported phonecat-app in my eclipse worskspace and trying to so setup using this https://github.com/angelozerr/angularjs-eclipse/wiki/Getting-Started

[2015-03-06 23:41] angelozerr commented on #146
AngularJS Eclipse is not perfect and there is some cases that I have not managed, but if you don't tell me exactly which completion which causes problem (a screenshot for instance are welcome)  inside which HTML or JS file, I cannot help you.

[2015-03-06 23:54] Archana14 commented on #146
When I typed phonecatApp. , auto completion does not come up. It is inside JS file.

Here is the screen shot
![image](https://cloud.githubusercontent.com/assets/11054870/6538585/15041a0e-c432-11e4-9bec-8396afe0c284.png)

[2015-03-06 23:58] Archana14 commented on #146
It is particularly, JavaScript editor function I am trying from the tutorial. Below is the screenshot from tutorial...
![image](https://cloud.githubusercontent.com/assets/11054870/6538624/a2820bde-c432-11e4-905a-362b63e0cea0.png)

[2015-03-07 01:16] vrubezhny commented on #146
Yeah, we've also faced this issue... :(
Not working CA is not that. Look at the right-bottom corner of Eclipse's screenshot - there's a builder working. It's almost never finishing its job - actually it's a validation job.
That's because Archana14 did 'npm install' on the project. And this command has added 'node_modules' directory which contains abour 1200 javascript files - let's say not a small

[2015-03-07 02:02] Archana14 commented on #146
Yes that the validation job. Thats fine because I actually tried to do html syntax validation in prefrences and then it tried to validate the project and that is showing some errors on node-modules. But thats ok. If I don't validate I wont get any error on node-modules. My only aim is to get auto completion as mentioned in my last screenshots. Thank you

[2015-03-07 02:54] vrubezhny commented on #146
All I can suggest at the moment is to try to exclude node_modules/, scripts/ and test/ folders from JSDT Include Path Open Project Properties -> JavaScript -> Include Path Property Page and add those folders to the 'Excluded' list.

See, how I've done it:

![Include Path property](http://jeremy.ru/jeremy/IncludePath.png)

[2015-03-07 07:00] alexeykazakov commented on #146
Endless or a very long validation job is a big problem actually. Because it locks your workspace.

[2015-03-07 07:57] angelozerr commented on #146
Thanks @vrubezhny for your clarification! Ok this issue is about tern performance. But the thing I don't understand is that if @Archana14 uses 0.8.0, it doesn't benefit with async tern completion  https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-0.9.0#async-tern-completion so her eclipse should freeze when completion is executed. @Archana14  is your eclipse freeze when completion op

[2015-03-07 12:39] vrubezhny commented on #146
@Archana14 I'd suggest you to use Tern.java/AngularJS-Eclipse v.0.8.2 - it shouldn't be locked on big projects + exclude extra directories from the build (as I shown above).

@angelozerr JSDT's Include Path contains the possibility to include/exclude different directories and single files and to use wildcards in names for inclusion and exclusion patterns.
Another point is that Tern/Angular feature

[2015-03-07 16:24] angelozerr commented on #146
Or install 0.9.0 SNAPSHOT if you wish to start beneit with JSHInt validation but it's not finished!

Yes I have seen that. I would like to support that with tern script path too and if we can manage together https://github.com/jquery/jquery/blob/master/.jshintignore.it should be very cool too.

Totally agreed with you. My idea is to improve https://github.com/angelozerr/tern.java/blob/master/eclip

[2015-03-07 17:11] Archana14 commented on #146
Thank you so much everyone for helping me.
I am using AngularJS-Eclipse v.0.8.2 now. and got fresh phonecat app project from github.Imported in my eclipse and didn't do validation step(properties->validation->html syntax) that I mentioned before and now u wont see any node_modules error. And the auto completion is also available now.
Thanks again
![image](https://cloud.githubusercontent.com/assets

[2015-03-07 17:11] #146 closed

[2015-03-07 17:53] angelozerr commented on #146
@vrubezhny pay attention. I have splitted Tern JSDT to 2 Core and UI plugins. So JSDT Class Path Manager are hoste now at https://github.com/angelozerr/tern.java/blob/master/eclipse/jsdt/tern.eclipse.ide.jsdt.core/src/tern/eclipse/ide/jsdt/internal/core/JSDTClassPathManager.java

[2015-03-08 21:57] andrewducker opened #147 "Is it possible to use this without changing the project type?"
I'm using a Google App Engine project, and I can't change the project type (it's a mixture of Java and JS).

If I could add an Angular Facet to this, that would be fantastic.  But that doesn't seem to be an option.

Is it possible to do this without changing the project type?

Thanks!

[2015-03-08 22:02] angelozerr commented on #147
Since 0.8.0, tern.java and AngularJS Eclipse doesn't use Eclipse nature. In other words your project :

 * has tern nature if your project contains .tern-project
 * has angular nature if .tern-project contains angular plugin.

The Convert action does that.

If project type is the same thing than Eclipse nature, yes it's possible.

[2015-03-11 17:15] sparty02 opened #148 "Provide Syntax Highlighting for <script type="ng-template"> templates"
See the Plug-in Details | Syntax File section at https://github.com/angular-ui/AngularJS-sublime-package

[2015-03-11 17:20] angelozerr commented on #148
You mean to support some syntax coloration for content inside  <script type="ng-template"> like described here https://docs.angularjs.org/api/ng/directive/script

If it that I'm afraid that it's a big task. I'm not sure I will have time to support that.

[2015-03-11 17:27] sparty02 commented on #148
Right... in essence, the experience inside of <script type="ng-template"></script> would be the same as if you were just marking up a template in an html file.

[2015-03-17 23:19] jabby opened #149 "Add support for angularjs 1.3 and 1.4"
There is some differences in angularjs 1.2, 1.3 and 1.4.

Is it possible to add multiple version like AlloyUI or CKEditor ?

[2015-03-17 23:31] angelozerr commented on #149
AlloyUI or CKEditor are tern plugins which are generated from JS sources, so it's easy to generate any versions.

The angular tern plugin is a fork of the original angular, so it's a big work to do that. I think we should create a github project per angular version and :

* generate the plugin from source (if possible).
 * write a lot of tests!

I agree with you we should do that, but I'm very bus

[2015-03-21 20:09] ankit2711 commented on #109
I have seen the same issue(too much CPU used and eclipse hangs) while trying to include the Angular phonecat app on Eclipse Luna on Ubuntu 14.04. I was including the project code in as Javascript project. Finally I disabled the JSNature and after that converted the project to AngularJS. Now eclipse is stabler.

[2015-03-22 11:26] angelozerr commented on #109
@ankit2711 I suggest you that you install 0.9.0 SNAPSHOT: it will avoid freezing Eclipse wjen tern completion opens (when there are a lot of JS files).

Disable the JSNature means that tern script path will be not loaded from the JSDT Install Path, it's the reason why Eclipse doesn't freeze. Indeed, tern script path doesn't support exclude path and JSDT (by default) set the Install Path to the roo

[2015-04-22 07:07] maheshk172 opened #151 "The update site isnt working"
Hi,

I am trying to install this plugin using update site listed on this page.

https://github.com/angelozerr/angularjs-eclipse/wiki/Installation-Update-Site

First URL http://oss.opensagres.fr/angularjs-eclipse/0.9.0/ is not active, I cant hit this using browser as well.

Second URL http://www.nodeclipse.org/updates/anide/SNAPSHOT/.  does not have AngularJS options listed.

Please advise if any a

[2015-04-22 07:13] angelozerr commented on #151
You cannot access to the url http://oss.opensagres.fr/angularjs-eclipse/0.9.0/ with your web browser? In my case it works?

What is your error by using Eclipse Update site?

[2015-04-22 11:20] maheshk172 commented on #151
![image](https://cloud.githubusercontent.com/assets/5226009/7273258/82097fac-e90f-11e4-9aff-e08f4218b1d3.png)

At same time, I can access other Update Sites..  for LUNA and others, so my  network connectivity is fine.  Is there any other URL I can access or download this repository ?

[2015-04-22 12:39] angelozerr commented on #151
I don't know why you have this problem?

@paulvi @pascalleclercq have you an idea?

[2015-04-23 08:48] paulvi commented on #151
First, recently Nodeclipse is slower then before and I suspect if it because of  http://oss.opensagres.fr hosting. Is it CDN-based?

Related issues are
- https://github.com/angelozerr/tern.java/issues/201 "Doanload is slow and fails, offline zip option"
- https://github.com/angelozerr/tern.java/issues/271 "Build all maven projects at once", that would give one solid zip and one solid and quicker u

[2015-04-23 08:51] paulvi commented on #151
is active and can be opened from browser

there is AngularJS inside.

I am in China.

Mahesh, where are you?

[2015-04-23 09:00] maheshk172 commented on #151
Hi Paul,

I am based in India, Pune.  It seems I had issue with my network setup.  I had some issue with my proxy it seems, in eclipse when I renamed file org.apache.httpcomponents.httpcore_4.3.3.v201411290715.jar  to org.apache.httpcomponents.httpcore_4.3.3.v201411290715.jar.old or something, the download started working.

Does this plugin support Sprint Toolkit (STS) as well ?  I am using STS 3.

[2015-04-23 09:17] angelozerr commented on #151
That's is very strange -(

Never tested to install Angular with STS. Have you tried to install with a simple Eclipse JEE distribution?

[2015-04-23 11:26] maheshk172 commented on #151
I tried mate, but same issue with that too.  Not sure if I am missing something.  I have installed using Install New Software and the Update link listed above.  Installation is successful, I can see it in Installed softwares but I do not see any preferences or menus.

Is there any way to troubleshoot

[2015-04-23 12:33] angelozerr commented on #151
I don't know why you have this problem? Have you some errors in the Error log View?

[2015-04-24 14:16] paulvi commented on #151
Too much discussion in one issue.

BTW, there is nothing special about STS

[2015-04-24 20:59] pascalleclercq commented on #151
Hi,

i uploaded the repo as a single zip here :
https://github.com/angelozerr/angularjs-eclipse/releases/tag/angularjs-eclipse-0.9.0

I have to do It manually, I'm looking for a way to do It automatically are release time.

I think I have to look for another http hosting for the update sites.

The ones that already exists is provided from a french provider : http://www.online.net/

Not sure why yo

[2015-04-24 21:15] angelozerr commented on #151
Very cool @pascalleclercq ! You are the best :)

[2015-04-24 21:33] jabby commented on #151
@pascalleclercq What do you think about bintray ? https://bintray.com/ @paulvi use this service for nodeclipse. It's free for OSS distribution.

[2015-04-26 12:19] paulvi commented on #151
https://github.com/angelozerr/angularjs-eclipse/releases/tag/angularjs-eclipse-0.9.0

That is nice,

Angular needs tern, so they should come together
see https://github.com/angelozerr/tern.java/issues/271

Does it scale automatically to several locations?
If it is online in Europe, then locations like Asia-Pacific are be much slower.

I can browse, it was @maheshk172 who said he could not.

Does a

[2015-04-26 13:18] paulvi opened #152 "Eclipse package distribution"
Eclipse package is standalone Eclipse that would include Angularjs, tern and more plugins on top of some base Eclipse package.

I have did it before, but felt not good when users started raising questions on issues on different OSes,
and I was not able to answer. Now I will just say "see answers for general Eclipse package"

[2015-04-26 13:18] paulvi commented on #151
P.P.S. I am easy to add you to nodeclipse organization on Sourceforge, so you can upload zip. See also https://github.com/angelozerr/angularjs-eclipse/issues/36  "name" and #152

[2015-04-27 04:07] maheshk172 commented on #151
Guys, I am able to download and install now.  But I do not see anything in my preferences etc.  No specific errors as such. Please advise.

[2015-04-27 14:58] achazalet-orange commented on #148
Hi,
Thanks for AngularJS Eclipse plugin.
I'm using it (0.9.0.201504172027) on Eclipse Luna - 20150219-0600.
On a aa.html file starting with <div ..., the coloration is working well.
But on another file bb.html stating with <script type="text/ng-template" ... the (same) coloration doesn't work (i.e. the coloration works only for the first, and last lines; the last line in </script...).

I'm just lo

[2015-04-28 21:58] pascalleclercq commented on #151
Ok, thanks @paulvi your feedbacks !

I will investigate Bintray for hosting p2 repo hosting, looks like the best suggested solution.

In the mean time I found this plugin :  https://github.com/jutzig/github-release-plugin/ which enable upload  of the zip file containing the p2 repo associated with the tag on github (just like I did manually).

[2015-04-29 21:49] pascalleclercq commented on #151
Hi @paulvi

I read : http://blog.bintray.com/2014/03/11/hosting-your-eclipse-update-site-p2-on-bintray-com/
but I'm not sure if you upload your p2 repo manually, do you ?

Would be quite cumbersome...

[2015-04-29 23:02] jabby commented on #151
Hi @pascalleclercq

Like I said [https://github.com/angelozerr/tern.java/issues/201#issuecomment-66593968](here), there is a script here to publish on bintray. https://github.com/vogellacompany/bintray-publish-p2-updatesite

@paulvi add some other useful links :
* http://www.nodeclipse.org/nodeclipse/binaries/bintray/2014/05/09/Nodeclipse-on-Bintray.html
* https://github.com/golo-lang/gldt/issues/

[2015-05-02 14:07] t4gedieb commented on #110
+1 That feature would be really awesome!!

[2015-05-02 21:09] angelozerr commented on #110
I don't know how to do that. @vrubezhny have you an idea?

[2015-05-05 00:41] vrubezhny commented on #110
No idea on how WTP HTML formatting works, but this could be another issue we should contribute to. (the first one I mean is contributing to the validation). Need some time to investigate...

But anyway, imho, it's better to create a BugZilla for the issue (or update a recent existing one) with description and example of how it works, what's wrong with it and how it should work. So WTP Source Editi

[2015-05-08 19:21] vrubezhny commented on #118
@angelozerr, sorry for non answering for a long time.

I have another example when Angular Explorer doesn't work at all and I cannot understand why.
It's jboss-kitchensink-angularjs example (unfortunately I cannot attach it here, so, I'll send you a zipped archive with the project so you could import it).

The project is adopter to be 'tern & angular' project by JBossTools, so you'll have to conve

[2015-05-09 09:51] angelozerr commented on #148
I understand your need, but I have no time to study how to support this feature. Any contribution are welcome!

[2015-05-09 09:51] angelozerr commented on #147
None answer, I close this issue.

[2015-05-09 09:51] #147 closed

[2015-05-12 08:09] angelozerr commented on #109
I close this issue since asynch compeltion is working. I muts just implement now exclude tern script path.

[2015-05-12 08:09] #109 closed

[2015-05-12 08:14] angelozerr commented on #118
No need to do that today, because Eclipse tern and angular nature doesn't exists more today.

To know if the project is a tern project,I check if there are a .tern-project. To check that it's an angular project, I check that angular plugin is declared in the .tern-project.

Ok I will see your problem when I will find time.

[2015-05-12 08:44] angelozerr commented on #118
@vrubezhny forget my last comment. I have commited https://github.com/angelozerr/tern.java/commit/db1314d2e10f677b82abd60940c9aeb6d58cf777

Please tell me if it works for you.

[2015-05-12 15:04] angelozerr commented on #145
Debugging Angular application means :

 * debug classic JavaScript. See https://developer.jboss.org/thread/252654
 * debug Angular Expression inside HTML, but is it possible?

I think this issue is out of the scope of AngularJS Eclipse

[2015-05-13 20:25] pascalleclercq commented on #151
thanks @jabby for the tip.

I used https://github.com/vogellacompany/bintray-publish-p2-updatesite to deploy LATEST (-SNAPSOT)
version to :
https://dl.bintray.com/pascalleclercq/angularjs-eclipse
https://dl.bintray.com/pascalleclercq/tern.java
https://dl.bintray.com/pascalleclercq/jsbuild-eclipse
https://dl.bintray.com/pascalleclercq/eclipse-wtp-webresources
https://dl.bintray.com/pascalleclercq/e

[2015-05-19 10:39] angelozerr commented on #148
I have tried to support this feature but without success -(

I have tried to add in org.eclipse.angularjs.ui extension point :

[code]

org.eclipse.wst.html.SCRIPT.type.TEXT/NG-TEMPLATE is the local type computed by StructuredTextPartitionerForHTML#getScriptingPartitionType with <script type="text/ng-template".

it seems that's is not possible without having an own StructuredTextViewerConfiguratio

[2015-05-19 15:44] achazalet-orange commented on #148
Hi,
Thanks for trying :-)
Unfortunately, I have no skill on Eclipse plugin development :-(.
Regards,

[2015-05-20 00:09] vrubezhny opened #153 "NullPointerException on Angular Explorer refresh"
That's what I've found in my log while I was playing with jboss-kitchensink-angularjs project and was trying to link a controller to template page (/jboss-kitchensink-angularjs/src/main/webapp/partials/home.html). At some point Angular Explorer became cleared of any content for some reason (I've probably changed the Include Path on the project), then I've stopped (pressed the "red-square" button)

[2015-05-20 00:26] vrubezhny commented on #118
@angelozerr,
yeah, the first classpathentry in that list was of kind="src"...

Now  (after commit for issue #118 is applied) Angular Explorer can show the modules. So, this part is OK now.

But I still couldn't see any proposals on page/jboss-kitchensink-angularjs/src/main/webapp/partials/home.html (inside {{..}} brackets) after I've linked to kitchensink->MembersCtrl controller... Did we dropped

[2015-05-20 07:18] angelozerr commented on #153
@vrubezhny I have fixed a problem which disposed the tern project every time WTP validator started. In my case the NPE was dues to this case. Tell me if it fixes your problem too.

[2015-05-20 11:41] jabby commented on #151
@pascalleclercq I tried to use https://dl.bintray.com/pascalleclercq/angularjs-eclipse but I have the following message on bintray : "The requested path was not found."

When I tried to use it in Eclipse, there is an exception because Eclipse didn't find anything to install.

[2015-05-20 12:04] pascalleclercq commented on #151
@jabby thanks for your feedback ! There were a typo in the job configuration. It is fixed now.

[2015-05-20 12:04] #151 closed

[2015-05-20 12:08] vrubezhny commented on #153
@angelozerr Nope, it didn't help. NPE has gone, but Angular Explorer view became empty and it isn't refreshed when I'm switching between the editors and/or changing the Include Path on the project.

When I'm roll your change back it starts to work (but, off course, with NPE)

[2015-05-20 13:47] angelozerr commented on #153
@vrubezhny please retry with my commit https://github.com/angelozerr/tern.java/commit/4cf62050fc0f98d178d9339793f4c6f47cc21bda

Now we are sure that JSDTCLassPathManager which translate JSDT Include Path -> Tern Script Path is registered even if completion is not executed.

This problem was for the first tern project which has an empty tern script path if you didn't execute completion before using

[2015-05-20 16:37] angelozerr commented on #118
@vrubezhny  I will study this problem when I will find time. Retrieve Angular controller is a very hard task ,because you can defien controller with several mean.

[2015-06-04 22:27] vrubezhny commented on #153
@angelozerr Thanks.

It looks like the issue is fixed now.

[2015-06-04 22:27] #153 closed

[2015-06-04 22:31] vrubezhny commented on #118
@angelozerr, Angular Explorer now shows modules. and issue #153 appears to be fixed.

But the problem with Content Assist for this certain example (jboss-kitchensink-angularjs project) still stays the same (no content assist appears inside {{..}} brackets.

[2015-06-05 03:33] angelozerr commented on #153
Cool!

[2015-06-05 03:35] angelozerr commented on #118
Could you give me a sample please.

[2015-06-10 14:23] wolfgangmeyers commented on #148
As a work-around, I've found that if you temporarily change the open tag from "<script>" to "<div>" the editor will treat it as html - although it will complain about invalid html of course :)

[2015-06-10 15:11] achazalet-orange commented on #148
Hi Wolfgang,
What do you mean by: 'change the open tag from "'? In the file that contains <script type=... ?
Thanks,
Regards,

[2015-06-10 15:20] wolfgangmeyers commented on #148
If I have a ng-template script such as:
[code]

you can temporarily turn on formatting and syntax highlighting by changing it to this:
[code]
Note that the opening tag has changed from <script> to <div> - then once your changes are done you change it back before testing the page.

[2015-06-11 16:14] paulvi commented on #151
well, i think it is too early to close issue until https://dl.bintray.com/pascalleclercq/* sites are tested with speed. But it can be other issue.

[2015-07-07 18:54] kibbled commented on #148
+1 on this feature request, it would be very helpful

[2015-07-08 08:28] txgj opened #155 "Help, angularjs plugin in eclipse didn't work"
I  did step by step  on getting started, but angularjs didn't work.
Please help me, thanks!

the error is :

eclipse/plugins/ternjs_0.10.0.201506172156/node_modules/tern/lib/infer.js:301
      this.construct.apply(this, arguments);
TypeError: Cannot call method 'apply' of undefined
                     ^
    at Object.ctor
 (/eclipse/plugins/ternjs_0.10.0.201506172156/node_modules/tern/lib/infer.j

[2015-07-08 08:33] angelozerr commented on #155
Please share your project which causes problem.

[2015-07-08 09:59] angelozerr commented on #148
I have taken long time to try to support it, but I don't know how to support it. See https://github.com/angelozerr/angularjs-eclipse/issues/148#issuecomment-103432689

[2015-07-09 03:36] prabsp commented on #155
I too face the same problem. It occurs when loading any javascript libs (anglarjs, bootstrap, etc). So auto completion, angularjs explorer are not working.

[2015-07-09 04:20] angelozerr commented on #155
@prabsp it seems that it's a problem with a lot of load of JS files. To avoid that 1.0.0-SNAPSHOT (not released) http://oss.opensagres.fr/angularjs-eclipse/1.0.0-SNAPSHOT/ gives the capability to exclude path https://github.com/angelozerr/tern.java/wiki/New-and-Noteworthy-1.0.0#includeexclude-tern-script-paths

[2015-07-10 12:49] txgj commented on #155
Hi,angelozerr, thank you very much.  But,  I can't  update the plugins  from  http://oss.opensagres.fr/angularjs-eclipse/1.0.0-SNAPSHOT/  ,  it reports the error that read time out when downloading  the  ternjs.jar.

[2015-07-10 13:02] angelozerr commented on #155
@txgj please share your project and tell me how to reproduce your problem. Thanks

[2015-07-13 08:53] TeodorKolev opened #156 "No code suggestions"
No code suggestions, neither in html, neither in js files

[2015-07-15 07:47] jabby commented on #155
@angelozerr I think it's a network problem during the installation. Not a problem with tern.java

[2015-07-15 07:49] angelozerr commented on #156
I cannot help you more with your info
 Le 13 juil. 2015 10:53, "TeodorKolev" <notifications@github.com> a écrit :

[2015-07-15 17:37] TeodorKolev commented on #156
I create function in .js and when I add ng-click it did not show it. ng-class did not work also. I don't mention that some functions like ng-if is totally unfamiliar to this plugi

[2015-07-15 22:30] jabby commented on #156
DId you activate the plugin on your project ? I use this plugin since last september and ng-if was always activated for angular-js project. If you want to verify the activation of the plugin check in your project folder. You should see a .tern-project file.

If you open this file, you should see something like :

[2015-07-16 06:46] TeodorKolev commented on #156
Yes, I have it, and there is no relation to html js and css

[2015-07-16 08:15] angelozerr commented on #156
Perhaps its a problem with config of tern script path.

Its very hard to help you with your info. Is angular. // here ctrl space must show module bind

Is working?

Please give us a real sample which doesnt work like sharing your project

[2015-07-24 00:55] dgolovin commented on #155
@jabby, this seems to be related to ternjs update that was done right befor tagging for 0.10.0 release. When I use tern-java built from commit preceding ternjs update
[code]
everything works fine, see my comment [here](https://issues.jboss.org/browse/JBIDE-19694?focusedCommentId=13092500&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13092500).

I can easy replicate

[2015-07-24 08:00] angelozerr commented on #155
@dgolovin thanks for your comment. I will see your problem next month.

[2015-07-24 08:04] angelozerr commented on #155
@txgj please share your project and tell me how to reproduce your problem. Thanks

[2015-07-27 18:15] sieira commented on #155
I'm experiencing the same problem. I installed angularjs-eclipse via nodeclipse. Hints are working properly, if I use autocompletion in a js, it succeeds suggesting me 'angular', but when validating all the modules show the warning "'angular' is not defined".

I guess modules are not being registered (from tern's point of view), because angular explorer is not showing anything (only an empty proje

[2015-07-28 00:24] angelozerr commented on #155
I van see this pb next month but Please Shane your project

[2015-07-28 12:23] sieira commented on #155
Here you are [a sample minimal project](http://spacebar.fr/extra/public/AngularJS-test.tar.gz)
It's an express project which :

  - Creates a server listening on localhost:3000
  - Sends /public/views/index.html to the client.
  - Just for testing I included angular three different ways
   1. From **googleapis**:  Everything is fine on runtime, it doesn't affect eclipse's scope (intended to be use

[2015-07-28 12:41] angelozerr commented on #155
Thanks @sieira ! I will study your project next month.

[2015-07-28 13:39] sieira commented on #155
Ok I managed to isolate the problem (sorry for the insistence, I guess you have better things to do).

While this works:

    /**
     * Angular module
     */
    (function() {
        angular.module("angular-test",[])
        .controller('TestController', ['$scope', function($scope) {
            $scope.test = 'Hola!';
        )]);
    })();

This doesn't:

    /**
     * Angular module
     */

[2015-07-28 18:38] angelozerr commented on #155
Thanks Sieira for your info! I will try it next month.

[2015-07-31 10:48] swal commented on #155
I have the same issues as Sieira when following the angular-phonecat tutorial... By limiting the number of scripts in the script path of tern, it doesn't give errors any more, but then the auto-completion is very limited. If I add some more scripts, then this exception keeps on showing up...

[2015-08-02 10:15] angelozerr commented on #155
@sieira @dgolovin @txgj @prabsp I have fixed the problem. Please install 1.0.0-SNAPSHOT and tell me if it works for you.

[2015-08-02 15:52] sieira commented on #155
@angelozerr Thanks a lot. Everything is running perfectly.

[2015-08-02 16:50] angelozerr commented on #155
Cool, I close this issue. Thanks @sieira for your very helpful information!

Please create a new issue if you have other problem.

[2015-08-02 16:50] #155 closed

[2015-08-02 16:52] angelozerr commented on #156
@TeodorKolev please share your project which doesn't work and which completion you are expecting.

[2015-08-02 16:54] angelozerr commented on #152
@paulvi I have no time to do that and MyEclipse and JBoss Tools, Enide integrates already it.

[2015-08-04 14:45] paulvi commented on #152
It would be nice if you start using Enide 2015 It has PDT, m2e, TernIDE and TernIDE toolings
http://www.nodeclipse.org/enide/2015

And I'd like to update after 1.0 https://github.com/angelozerr/tern.java/issues/306

[2015-08-06 16:41] rcw0086 opened #157 "No repository found at..."
When I try to install the AngularJS plugin in eclipse via Eclipse MarketPlace or dragging and dropping from https://marketplace.eclipse.org/content/angularjs-eclipse, I get the following response:

"No repository found at http://oss.opensagres.fr/angularjs-eclipse/0.10.0/."

[2015-08-06 19:12] angelozerr commented on #157
Which version of Eclipse, do you use? I suggest you to use Eclipse JEE Mars.

[2015-08-06 19:22] rcw0086 commented on #157
I have Luna installed - in your experience, does Mars fix this issue? I only ask because it would be troublesome to upgrade

[2015-08-06 19:27] angelozerr commented on #157
It should work. Perhaps it's a problem with the network?

[2015-08-06 19:28] angelozerr commented on #157
Have you tried to install with Update Site?

[2015-08-06 20:41] rcw0086 commented on #157
I haven't - what's the URL for the update site?

Regards,
- rw

On Thu, Aug 6, 2015 at 2:28 PM, Angelo <notifications@github.com> wrote:

[2015-08-06 21:30] angelozerr commented on #157
Same url http://oss.opensagres.fr/angularjs-eclipse/0.10.0/

[2015-08-09 18:02] phantomjinx opened #158 ""Cannot find controller with name ...""
I am using eclipse to create plugins for the hawtio framework, see [here](https://github.com/phantomjinx/vdb-bench). As such, each of my controllers uses a separate html template provided in its own file, eg. [this controller](https://github.com/phantomjinx/vdb-bench/blob/master/vdb-bench-assembly/plugins/vdb-bench/js/controllers/repoController.js) uses [this template]( https://github.com/phantomj

[2015-08-09 22:56] angelozerr commented on #158
Link between Template <-> Controller is not managed (see https://github.com/angelozerr/angularjs-eclipse/issues/102), but you can link it at hand https://github.com/angelozerr/angularjs-eclipse/wiki/Angular-Explorer-View#html-template-linkunlink

[2015-08-12 13:51] angelozerr commented on #149
Angular doc is generated from JavaScript code with dgeni. It can be customizable (to generate JSON def) but it's a very hard task (for me). I'm afraid that I will use a lot of time to generate angular tern plugin from JS sources with dgeni.

So I tell me if it's really important today to provide several versions of angular? 1.4 is enough, no?

[2015-08-14 15:13] #135 closed

[2015-08-14 15:13] #134 closed

[2015-08-14 16:13] angelozerr opened #159 "Tests angular tern plugin"
AngularJS Eclipse use tern angular https://github.com/angelozerr/tern.java/blob/master/core/ternjs/node_modules/tern/plugin/angular.js which is a fork of https://github.com/marijnh/tern/blob/master/plugin/angular.js

My goal is to contribute to the original angular tern step by step. Tests are very important. Today it exists in Java https://github.com/angelozerr/tern.java/tree/master/core/tern.cor

[2015-08-17 10:32] angelozerr commented on #136
Done:

![](https://github.com/angelozerr/angularjs-eclipse/wiki/images/JSAngularTemplateUrlHyperlink.png)

See https://github.com/angelozerr/angularjs-eclipse/wiki/New-and-Noteworthy-1.0.0#templateurl

[2015-08-17 10:32] #136 closed

[2015-08-17 10:33] angelozerr commented on #103
Done:

![](https://github.com/angelozerr/angularjs-eclipse/wiki/images/JSAngularTemplateUrlCompletion.png)

See https://github.com/angelozerr/angularjs-eclipse/wiki/New-and-Noteworthy-1.0.0#templateurl

[2015-08-17 10:33] #103 closed

[2015-08-17 11:50] angelozerr commented on #159
I close this issue, now tests for angualr will be done  https://github.com/angelozerr/tern-angularjs

[2015-08-17 11:50] #159 closed

[2015-08-17 11:50] angelozerr commented on #157
@rcw0086 have you fixed your problem? Can I close this issue?

[2015-08-17 11:51] angelozerr commented on #156
None answer, I close this issue.

[2015-08-17 11:51] #156 closed

[2015-08-17 11:52] angelozerr commented on #124
None answer, I close this issue.

[2015-08-17 11:52] #124 closed

[2015-08-17 14:15] rcw0086 commented on #157
Yes, I figured out what was going on.  Thank you for corresponding with me
about this.

Regards,
- rw

On Mon, Aug 17, 2015 at 6:50 AM, Angelo <notifications@github.com> wrote:

[2015-08-17 14:18] angelozerr commented on #157
Thanks @rcw0086 for your feedback. I close the issue.

[2015-08-17 14:18] #157 closed

[2015-08-27 14:13] Vikasts opened #160 "Data binding issue"
I installed angularjs plugin by following the link  :

https://github.com/angelozerr/angularjs-eclipse/wiki/Getting-Started

with eclipse Luna Version: Luna Service Release 1 (4.4.1)

and i have followed to create the angualr jsproject by follwoign the link :

http://blog.diniscruz.com/2014/02/using-angularjs-in-eclipse-part-1.html

i opened the The_basics.html file in browser enterd some value in

[2015-08-27 14:18] angelozerr commented on #160
the value is not getting binded. I always get Hello {{yourName}}!

It's not a problem with AngularJS Eclipse.

[2015-08-28 20:08] JeffInTampa opened #161 "Unsigned content"
Angelo,
I started to install the plugin from the eclipse marketplace, but got the "unsigned content" warning. In my work environment this is a show-stopper. Will you be providing signed content at some point?

[2015-08-28 20:50] angelozerr commented on #161
It's just a warn, install should work.

I don't know how to avoid that.

[2015-08-29 08:05] angelozerr commented on #161
@pascalleclercq have you an idea about that?

[2015-08-31 08:15] jabby commented on #161
To avoid the warning you can sign all plugins. More information in following links :
https://wiki.eclipse.org/JAR_Signing
https://wiki.eclipse.org/IT_Infrastructure_Doc#Sign_my_plugins.2FZIP_files.3F
https://nirmalsasidharan.wordpress.com/2010/09/04/signing_eclipse_plugins/

[2015-08-31 18:25] JeffInTampa commented on #161
Hi Angelo,
For the time being I'll have to use the plugin only on one of my personal machines, not at work. I'll probably install the plugin tonight and start exploring features.

[2015-08-31 18:25] #161 closed

[2015-09-01 02:03] #160 closed

[2015-09-01 04:59] Vikasts commented on #160
Thanks for your reply.

Could please guide me what could be the possible problem in this case ?

[2015-09-01 07:04] angelozerr commented on #160
I suggets you that you find an Angular forum to post your question if you rproblem is about using Angular in a browser.

[2015-09-01 07:47] Vikasts commented on #160
well my problem is with the data binding the values not only with browser.

In the The_basics.html file preview also the values are not get binded.

[2015-09-01 08:02] angelozerr commented on #160
AngularJS Eclipse doesn't provide preview (perhaps it's an other plgin which provides preview, but I think it is based on browser).

[2015-09-01 08:05] Vikasts commented on #160
When i right click on The_Basics.html-->openwith i don't get an option "angularjs editor"  and in eclipse--preferences--Tern , i dont get modules option .. i just have Node.js

[2015-09-01 08:14] angelozerr commented on #160
Yes it's normal. AngularJS Editor was removed because today it's possible to use classic WTP HTML Editor.

For modules selection, you must open project properties (and not Window/Preferences). Please note that 1.0.0 was released today.

[2015-09-01 09:36] Vikasts commented on #160
i tried to install the latest plugin 1.0.0 in eclipse luna, i got an error while installing the software as :

'Installing Software' has encountered a problem. An error occured while collecting items to be installed. session contect was : (profile=epp.package.jee,phase=org.eclipse.equinox.internal.p2.engine.phases. Colelct, openrand=,action=). Unable to read repository at http://oss.opensagres.fr/

[2015-09-01 09:38] angelozerr commented on #160
I think it's because a lot of users triy to install it and this server is not quick (no money to have a quick server). Please retry it later.

[2015-09-04 18:41] damtep commented on #148
Hi,

my workaround was to create a new directive similar to angular's 'script' directive:

[code]

The original 'script' directive has this line: ```text = element[0].text;``` but I had to change it to ```text = element[0].innerHTML;```

So, now, to define a template I use:

[code]

Now in Eclipse you get the colors as it is a standard cutom directive.

Hope it helps.

[2015-09-13 13:59] tpatel11 commented on #160
I am also facing the issue similar to above mentioned. Every time I run simple index.html page, it only displays {{storecontroller.name}}. It is supposed to display value of product but something seems wrong with that. I am thinking to go away from using Eclipse for angularjs now.

[2015-09-13 17:08] angelozerr opened #162 "Validation for Angular Expression"

[2015-09-13 17:12] angelozerr commented on #160
AngularJS Eclipse doesn't provide Web Browser. Perhaps you are trying to open your HTML page with Eclipse Web Browser and you have a problem, but it's not related to AngularJS Eclipse.

The only thing that I see to improve AngularJS Eclipse is to validate Angular expression. I have created issue at https://github.com/angelozerr/angularjs-eclipse/issues/162

[2015-09-14 04:41] Vikasts commented on #160
Its a browser issue. Open the HTML page in Google Chrome. It will work.

[2015-09-23 06:23] paulvi opened #163 "problematic package 'org.eclipse.angularjs.core' 0.10.0"
I use Enide 2015 (Mars), then updated tern.java only to latest SNAPSHOT, than noticed that context menu not rendered at first time and Error reported by Eclipse

I guess, it is because all of tern and angluar should of the same version.

The problematic package 'org.eclipse.angularjs.core' may originate in the following bundles:
  org.eclipse.angularjs.core 0.10.0.201506182210, from which the foll

[2015-09-23 06:50] angelozerr commented on #163
@paulvi , I'm sorry, but I don't understand what you expect?

[2015-09-23 07:02] paulvi commented on #163
nothing so far, just letting know you about weirdness.

If 1.x should not work with 0.10, then just close this

[2015-09-23 07:07] angelozerr commented on #163
To be honnest with you, I don't know and I have no time to check if some version works with other version. The best thing is to align tern.java & AngularJS Eclipse versions.

[2015-09-23 07:12] #163 closed

[2015-09-28 12:37] angelozerr opened #164 "What about Angular2 Eclipse support?"
I create this issue because more and more people tell me if AngularJS Eclipse supports Angular2. The answer is no-(

But I have studied how we could provide this support. The first thing is that Angular2 samples that I have found are based on TypeScript. Here a sample at http://blog.thoughtram.io/angular/2015/03/27/building-a-zippy-component-in-angular-2.html

It's possible to write Angular2 with

[2015-09-28 18:22] Nikhil0538 opened #165 "How to run Protractor Scripts in Eclipse"
I would like to run the protractor test with in the eclipse, instead of starting selenium server from command prompt. scripts should run as directly from the eclipse.
Is there a way to add selenium server to the eclipse?
Please let me know your comments on this.

[2015-09-28 22:06] angelozerr commented on #165
@Nikhil0538 today I don't know how we could provide that but there is an interesting project at https://github.com/CodeSmell/AngularJumpstart

[2015-09-29 17:57] maxiplay commented on #110
+1

[2015-10-03 22:43] Rhobal opened #166 "All translations shown with Warning "Undefined attribute value""
All my "translate" directives give an "Undefined attribute value" warning.  I load my translations from a UrlLoader from Java properties files, where I have more readable files and a better editor than with "angular translate" translations.

Can I turn off these warnings? Or even better, can I configure the Java properties file as source of the translations?

[2015-10-03 23:03] angelozerr commented on #166
I don't know "translation" with Angular, you mean https://github.com/angular-translate/angular-translate ?

With Eclipse Mars ou can set the name of the attribute to ignore. Go at  projet properties, Validation -> HTML Syntax, "ignore specified attributes name".

No, but is it a standard mean or a custom mean to support translate with Angular?

[2015-10-04 09:14] Rhobal commented on #166
Yes, I am using angular translate with the URL you gave.

I just found out that angular translate overrides the HTML 5 attribute "translate" which only takes yes or no as attributes. So the warning is completely unrelated to angularjs-eclipse

[2015-10-04 09:14] #166 closed

[2015-10-08 16:07] dave-lemen opened #167 "Unable to install"
When attempting to install from Eclipse Marketplace I get this error:

Cannot complete the install because one or more required items could not be found.
  Software being installed: Tern feature 1.0.0.201508302102 (tern-feature.feature.group 1.0.0.201508302102)
  Missing requirement: Tern - Server - Nodejs 1.0.0.201508302102 (tern.server.nodejs 1.0.0.201508302102) requires 'package org.apache.http

[2015-10-08 16:16] angelozerr commented on #167
Eclispe Indigo is so old. Please use Eclipse Mars.

[2015-10-08 17:43] dave-lemen commented on #167
Using Mars seems to work. I was able to install successfully.  Thanks for the quick advice!

[2015-10-08 17:43] #167 closed

[2015-10-09 16:31] Rorkal opened #168 "Where is stored associations/links?"
Hi!

It happens some times i loose my links between HTML controller and his module.
The goal is to use this on a project with many users and i want to share it between developers.
Knowing where links are stored will be very helpfull!

[2015-10-09 17:38] angelozerr commented on #168
@Rorkal I'm sorry, I don't understand your problem? Could you give me a sample code which doesn't work?

[2015-10-09 17:46] jabby commented on #168
@angelozerr I think that Alex wants to use the functionnality describe  [here](https://github.com/angelozerr/angularjs-eclipse/wiki/Angular-Explorer-View#html-template-linkunlink) and he needs to share this configuration with other developers on his project.

So basically, if association is stored in a file in the project, Alex will be able to share the configuration with other developers  through

[2015-10-09 17:53] angelozerr commented on #168
Thanks @jabby, I understand more now:) Indeed, the link are stored in the metadata IFile, so we cannot share that. To share that we need a preferences file which hosts the whole links of the project. It requires that we need to observe move/delete file to update the links.

I think https://github.com/angelozerr/angularjs-eclipse/issues/102 should avoid using links at hand.

[2015-10-09 19:04] Rorkal commented on #168
Thanks @jabby , that was exactly what I meant!
Indeed @angelozerr , I think it will be hard to share links between developers.
Maybe I will just try turn off error about linking HTML to JS and developers will handle that when needed.
Thanks!

[2015-10-09 19:05] #168 closed

[2015-10-09 19:11] angelozerr commented on #168
@Rorkal as I said you, I must implement #102 to fix your issue.

[2015-10-09 19:31] Rorkal commented on #168
Yes I understand. It will be great when implemented. :)

[2015-10-31 00:14] lmcdubo opened #169 "Cannot get Angular Explorer to work properly for modules"
Hi,

  I just installed the AngularJS 1.0.0 plugin on eclipse and created a skeleton AngularJS project using John Papa's hottowel generator (https://github.com/johnpapa/generator-hottowel).

  Once the project is created. I'm having many issues with it and the eclipse angularJS plugin.  The main issue is that I cannot get anything to be displayed in the Angular Explorer view's modules section.  Wh

[2015-10-31 07:35] angelozerr commented on #169
@lmcdubo it seems that you try to use angular + gulp (+node) together. I will try it. I think to fix you error, you should remove gulp + node in your Tern / Modules

[2015-10-31 08:23] angelozerr commented on #169
@lmcdubo please share your project. It will help me to reproduce your problem and fix your future other issues.

[2015-10-31 10:58] angelozerr commented on #169
@lmcdubo I have fixed your problem with gulp in tern.java 1.1.0-SNAPSHOT.

[2015-10-31 12:47] lmcdubo commented on #169
Wow that was quick!

I will try it out and let you know.

As for the project do you still want me to share?  Basically I just created a new static web project with eclipse and generated the code using hottowel generator.  I did not change the generated code yet.  And you are right it uses Gulp and node.

Thx.
/S

[2015-10-31 13:23] angelozerr commented on #169
Yes I would like that you share it with your github, if you have other issues. I'm not sure my fix with gulp fixes your problem with angular modules. I think it's because you have selected "Node" tern modules (which creates a scope per JavaScript file). So I suppose we cannot use gulp + angular in the same project. I would like to test that.

I have never done that, an dno time to do that, so plea

[2015-11-01 21:38] lmcdubo commented on #169
Hi,

  I tried version 1.1 but it seems that there is a problem installing Tern and it doesn`t work.  I'm using latest Eclipse Mars for Java EE

I`ve put the project on github (without the bower components and node modules which can be pulled).  You can access it using https://github.com/lmcdubo/testApp.git

 Let me know if you need anything else.

Thx,
/Sebastien

[2015-11-04 09:01] angelozerr commented on #169
What is the problem with the updat esite http://oss.opensagres.fr/angularjs-eclipse/1.1.0-SNAPSHOT/ ?

Thanks a lot I have tested quickly and it seems that iut works ?

![angularexplorer](https://cloud.githubusercontent.com/assets/1932211/10933727/f3a22d70-82da-11e5-805b-128add0e491c.png)

[2015-11-11 23:37] lmcdubo commented on #169
Hi,

  Sorry for the late reply,

  I did install the official Tern + Angular 1.1.0 release (from the eclipse marketplace).  It seems that I still have issues:

1)  Auto-completion works, but it's kind of hit or miss.  Sometimes it works, but most of the time I get the following message in the auto-complete popup: "  Calculation completion proposal took too long.  Try again in a few seconds..."

2

[2015-11-11 23:59] angelozerr commented on #169
@lmcdubo please test with the same context that your shared project https://github.com/lmcdubo/testApp.git

It seems that you use "closure" as tern modules and your project https://github.com/google/tern-closure/issues/42 doesn't contains closure in the .tern-project. Try to remove closure.

Your error:

<code>
C:\Program Files\eclipse\plugins\ternjs_1.1.0.201511082254\node_modules\tern-closure\cl

[2015-11-12 00:12] lmcdubo commented on #169
Hi again,

  Yep it seems that it did the trick.  Everything seems to work fine now :-)

I did get the following error while browsing, but it does not seem to affect the functionality.

Tern request#type:
{"query":{"type":"type","file":"WebContent/src/client/app/admin/admin.controller.js","end":249,"docs":true,"urls":true,"types":true},"files":[{"name":"WebContent/src/client/app/admin/admin.contro

[2015-11-12 00:23] angelozerr commented on #169
I hope tern-closure will fix the problem.

Yes it's not a problem, the tern server throws this error when it cannot find type, so it's not a bug.

Please note that I'm trying to improve Angular Explorer for 1.2.0 to refresh module,s directives as soon as you are typing (see https://github.com/angelozerr/tern.java/issues/363)

You are welcome.

[2015-11-16 20:25] lmcdubo opened #171 "AngularJS 1.1.0: Cannot find controller when validating"
Hi,

  I'm having a problem using eclipse AngularJS (version 1.1.0) where some controllers are not found in HTML files

Project is located at: https://github.com/lmcdubo/testApp.git

Basically two controllers, which are defined with the "Controller as" syntax, cannot be found

e.g.
<code>
Description Resource    Path    Location    Type
Cannot find controller with name ShellController.   shell.htm

[2015-11-16 23:16] angelozerr commented on #171
Your problem is similar to https://github.com/angelozerr/angularjs-eclipse/issues/102

It's because it's hard to define link between template and module. To fix your problem, you must link your HTML shell.html with ShellController with Angular Explorer https://github.com/angelozerr/angularjs-eclipse/wiki/Angular-Explorer-View#html-template-linkunlink

[2015-11-17 00:31] lmcdubo commented on #171
Hi,

 Awesome yes it works fine!

I'm having another problem that might be related though where I get "Unknown Tag" warnings for tag that are defined in some of my directives, as such:

<code>
Description	Resource	Path	Location	Type
Unknown tag (ht-sidebar).	sidebar.html	/testApp/WebContent/src/client/app/layout	line 2	HTML Problem
Description	Resource	Path	Location	Type
Unknown tag (ht-top-nav).

[2015-11-18 08:21] yuxblank opened #172 "Issue downloading from marketplace"
An error occurred while collecting items to be installed
session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://oss.opensagres.fr/angularjs-eclipse/1.1.0/plugins/ternjs_1.1.0.201511082254.jar.
Premature end of Content-Length delimited message body (expected: 16753236; received: 831485

[2015-11-18 08:35] angelozerr commented on #172
@yuxblank your repository is not very quick. I know that some people have a problem to download it.

Please try with update site https://github.com/angelozerr/angularjs-eclipse/wiki/Installation-Update-Site or https://github.com/angelozerr/angularjs-eclipse/releases

[2015-11-18 09:22] victor commented on #164
Sorry I did not respond before. I am a bit confused, I have no idea what you're talking about.

[2015-11-18 09:24] angelozerr commented on #164
@victor grrrrrrrrrr I'm really sorry with my mistake (completion with github to retrieve name).

[2015-11-18 13:45] paulvi commented on #164
I repeat myself again, we should be promoting and teaching how to write tern plugins.
And make tern visible to all users.

Otherwise it will be impossible for Angelo to update plugins for all JavaScript framework, and *test* them, because it is impossible for one person to use all the frameworks, libraries and modules.
There's no fun of doing that.

[2015-11-20 11:56] yuxblank commented on #172
Thank you. Downloading the jar manually solved the issue.
Nice work keep it up!

[2015-11-20 11:56] #172 closed

[2015-12-03 09:31] angelozerr opened #173 "Use "angular1.4" insead of using "angular" in .tern-project"
Today when project is converted to `AngularJS Project", it updates the `.tern.project` with '`'

[code]

So it load the tern plugin https://github.com/angelozerr/tern.java/blob/master/core/ternjs/node_modules/tern/plugin/angular.js which is a fork of the official angular tern plugin https://github.com/ternjs/tern/blob/master/plugin/angular.js

So it's not possible for the user to create her own te

[2015-12-03 10:24] maxandersen commented on #173
Two things:

1) shouldn't this be pushed to the upstream or have a different name instead of just a version appended the name ?

2) requiring users to manually update settings is always bad. I don't know the full impact but is there no better way to detect/fix this ?

[2015-12-04 01:51] paulvi commented on #173
Concatenating name and version into 1 string is usually bad idea, because to analyze, one need to read and break into 2 peaces again.

Why can't there be

[code]

[2015-12-04 06:41] dgolovin commented on #173
@angelozerr, pardon my ignorance, but I am not following the usecase. Where the user supposed to run
[code]
to get this conflict between forked angular plug-in from ternjs bundle in eclipse and original tern plug-in?

But I agree with Max, we should figure out how to keep backward compatibility to avoid forcing user do manual changes in .tern.project file after releasing update for tern.java.

[2015-12-04 07:30] angelozerr commented on #173
Thanks for your answer!

At first it works like this today. I analyze the name, to provide Tern Modules with version combo box. I have done that, because I have already a discussion https://github.com/ternjs/tern/issues/441 and ternjs doesn't want to support version. So I have decided to concatenate name + version to support it inside tern.java

Sorry @dgolovin, I have not very welll explained. te

[2015-12-05 02:12] paulvi commented on #173
Please don't raise dialog.

Imagine, user has 10 projects in workspace, then updates Angular-Eclipse. Then after restart, will he/she get 10 messages for every .tern-project file? The user may have other thing to do in his mind, having pop-up question is distracting focus.

The should be reasonable default, e.g. to 1.4 in this plugin case.

[2015-12-05 08:52] angelozerr commented on #173
@paulvi my idea was to check if the activated angularjs project must be updated to 1.4. In this case it display a popup  "Your .tern-project must be updated, are you OK?" and add an option (which is checked by default) to update the whole projects of the workspace.

[2015-12-05 09:28] paulvi commented on #173
I still don't like IDE asking questions. Besides if code has angular 2.0 library inside, why those question should be asked?

And if there's really need to ask, it should be in a form of checking preferences,

e.g. "Default version for AngularJS has changed. Please check plugin preferences, <kbd>OK<kbd> <kbd>Cancel<kbd> "

[2015-12-05 10:54] angelozerr commented on #173
@paulvi you mean that AngularJS Eclipse must update.tern-project without dialog? If it that, it will be more easy to develop that.

If everybody are OK with that, I will do that.

[2015-12-05 16:30] vrubezhny commented on #173
@angelozerr @paulvi You may add an informational message to the error log instead of having dialog to be shown. This will inform user and wouldn't make him/her to click "OK" for every project in workspace.

[2015-12-06 03:45] paulvi commented on #173
:+1: second @vrubezhny for idea, but with a little change: Error Log VIew, I think, is shown by default onlywhen PDE plugin installed, while Problems VIew ,I guess, shown in all dev perspectives

[2015-12-06 22:31] vrubezhny commented on #173
@paulvi @angelozerr - Paul is correct, Having a Warning Marker on  resource is to be shown not only  in Problem view, it might be displayed in Project View as well.

[2015-12-17 01:23] HaiboLee opened #174 "Ionic tag <ion-footer-bar>"
I hava a issues, I use the ionic, the directive tag `<ion-footer-bar>` and `<ion-header-bar>` can't find.other tag is ok.

![unnamed](https://cloud.githubusercontent.com/assets/1932211/11866971/91291eb0-a4ae-11e5-9804-3ef2b51d3df3.png)

When use you AngularJS plugin. can you tell me why? Thank you very much.

[2015-12-17 02:00] HaiboLee commented on #174
the tag<ion-foot-bar> and <ion-harder-bar>

[2015-12-17 02:01] HaiboLee commented on #174
ion-footer-bar  and ion-header-bar

[2015-12-17 10:09] angelozerr commented on #174
@HaiboLee it's a bug of the tern angular plugin. It will study why there is this problem.

[2015-12-18 11:44] angelozerr opened #175 "Provide Quick Outline to search modules, controllers, etc"
It should be cool if we could have a quick outline (like Ctrl+O for JavaScript, Java) to search and go to the definition for angular modules, controllers, etc

@mickaelistria @piotrtomiak @paulvi @dgolovin @vrubezhny @maxandersen @jabby  @fbricon what do you think about this idea?

[2015-12-18 11:47] angelozerr opened #176 "Display modules, controllers, in a GEF diagram editor"
It should be cool if we could display modules, controllers, in a GEF diagram editor

@mickaelistria @piotrtomiak @paulvi @dgolovin @vrubezhny @maxandersen @jabby  @fbricon what do you think about this idea?

[2015-12-18 11:57] mickaelistria commented on #176
How would user take advantage of such an editor?
It wouldn't be a trivial thing to implement, so I believe you should make sure there are very common and useful user-stories for that before getting started on such a development.

[2015-12-18 12:43] angelozerr commented on #176
My idea is to show you an overview of your Angular application: modules and their dependencies. When you have a lot of modules, etc it can be hard to understand yoru application.

I agree with you. I had this idea, because I'm refactoring the tern angular plugin to refresh angular explorer automaticly (with WebSocket). So I will have a clean model and more I could send events with WebSocket to tel

[2015-12-18 16:15] jabby commented on #176
What it the real value for user. Personnaly, I don't need a graph for my angularjs applications. If I need one, I will use this chrome plugin : [AngularJS Graph](https://chrome.google.com/webstore/detail/angularjs-graph/gghbihjmlhobaiedlbhcaellinkmlogj)

[2015-12-18 16:17] jabby commented on #175
It's a good idea. In fact, I will be really happy to have this feature. I think that quick outline is more useful than the outline :-)

[2015-12-18 16:31] angelozerr commented on #176
Wow very impressive! Ok @mickaelistria @jabby this idea about GEF editor is a toy, I close this issue. Thanks for your feedback!

[2015-12-18 16:31] #176 closed

[2015-12-23 01:04] HaiboLee commented on #174
thanks

[2015-12-23 08:36] angelozerr commented on #175
Ok, I have commited m work for this issue. I have called that "Open Angular Element". It is available with "Ctrl+Sift+Z" and it opens a window popup like "Open Resource" or "Open Type". This window display the whole modules, controllers, etc of the all Angular project (like "Open Type" for Java & JavaScript)

Here a demo with ionic project:

![test](https://cloud.githubusercontent.com/assets/19322

[2015-12-23 08:40] angelozerr commented on #174
@HaiboLee please install 1.2.0-SNAPSHOT (see https://github.com/angelozerr/angularjs-eclipse/wiki/Installation-Update-Site), your problem should be fixed and more now you will have "Open Angular Element" feature See https://github.com/angelozerr/angularjs-eclipse/issues/175#issuecomment-166833776 for more information.

[2015-12-30 13:35] HaiboLee commented on #174
thanks,it's good

[2015-12-30 17:25] angelozerr commented on #174
Ok cool, I close this issue.

[2015-12-30 17:25] #174 closed

[2015-12-30 18:25] angelozerr opened #177 "Improve Angular Explorer"
* refresh as soon as js changes
 * automatic link between html template & controller

[2016-01-03 16:15] angelozerr commented on #175
@piotrtomiak when you will have time, could you help me to know when sync of files is finished?

[2016-01-05 10:41] maxandersen commented on #175
ctrl+shift+Z is redo afaik so that is not a good binding to use imo.

[2016-01-05 10:43] angelozerr commented on #175
Argh -( Have you a suggestion? thanks @maxandersen for your feedback!

[2016-01-05 10:46] mickaelistria commented on #175
Ctrl+Shift+A seems to be free to use, and the "A" will easily be reminded as "Angular".

[2016-01-05 10:51] angelozerr commented on #175
Yes it was my first idea, but in my case when I do Ctrl+Shift+A , it opens "Open Plug-In Artifact"

[2016-01-05 10:54] mickaelistria commented on #175
oh right, I missed the line with this shortcut... What about Ctrl+Shift+Alt+A ?

[2016-01-05 12:58] angelozerr commented on #175
Is it not complex to do Ctrl+Shift+Alt+A? If other people like this, I will do that.

[2016-01-05 18:51] jabby commented on #175
@mickaelistria @angelozerr I think Ctrl+Shift+Alt+A is really too complicated.
In fact, I think that more than 3 keys is complicated for users.

[2016-01-05 19:09] mickaelistria commented on #175
@jabby So your suggestion is...? ;)

[2016-01-06 11:09] jabby commented on #175
I don't know. It's not really helpful, I know.
* Alt + Shift + A : already use for "Toggle Block Selection"
* Ctrl + Shift + A : already use for "Open Plug-In Artifact"
* Ctrl + Alt + A : maybe some problem on Windows because Ctrl+Alt is same as Alt Gr.
* Ctrl + Shift + Alt + A : a little bit complicated

[2016-01-07 14:58] piotrtomiak commented on #175
IDETernFileUploader is responsible for uploading files. You can get to it with ITernServer.getFileSynchronizer().getFileUploader() . The join method should work, just put a long timeout.

[2016-01-08 18:17] angelozerr opened #178 "Run/Debug Protractor tests"
It should be cool if weio  could run/debug protractor test. To do that we could provide an extension point to create a launch for protractor. We could implement this extension point with several JavaScript Debugger like we have done for debugging tern plugins.

@piotrtomiak what do you think about that?

See discussions at:

 * https://www.genuitec.com/forums/topic/support-for-protractor/
 * https

[2016-01-12 12:47] piotrtomiak commented on #178
@angelozerr sounds like a great plan. Can you tell me what kind of input would you expect from me? I have read your suggestions on the Genuitec forum regarding debugger and they are good. We are considering them for improvements in the near future. However, as far as I understood you want to create a dedicated launch config for protractor tests, like for JUnit?

[2016-01-12 13:45] angelozerr commented on #178
Cool:)

For the moment, nothing:) I would like just share you my plan.

Cool

No, I don't want to do that. I want to reuse your work on debugger. I have started to refactor your debugger work to support other thing to launch than tern and it starts working: I can select spec.js file and do run or debug and it debugs the protractor. I will commit soon and I need feedback because I'm not an user of

[2016-01-12 13:50] angelozerr commented on #178
However the only restriction is that protractor folder (getted with npm install protractor) must be inside the workspace, because debugger waits an IResource.

[2016-01-12 17:09] piotrtomiak commented on #178
@angelozerr I will work on removing this limitation. One thing here is that usually the node modules would get installed into "node_modules" folder of the project itself. Then it would be in the workspace.

[2016-01-12 17:14] angelozerr commented on #178
Cool!

Yes I have started like this. User need to do npm install protractor inside her project. After that we could improve it when you will remove this limitation.

My other idea is that user could create a "protractor" project which hosts protractor cli.js etc to avoid doing npm install protractor in each project.

[2016-01-15 17:34] angelozerr commented on #178
@piotrtomiak if you are interested you can play now with protractor to run/debug. See https://github.com/angelozerr/angularjs-eclipse/wiki/Protractor

To run/debug protractor, I use your tern debugger that I have a lot modified to start tern , protractor and other thing.

I have not created a specific protractor launch configuration type, because I use tern debugger which already uses a launch con

[2016-01-15 18:49] piotrtomiak commented on #178
Great support! I think that customizable Protractor launch configs is the only thing missing.

That was a good idea, that way you have a nice framework you can use to provide support for other specialized debug/run launches. However, generated launch configs were not intended to be visible to the users, so wrapping that up into a Protractor launch is the way to go.

There are several ways to do it

[2016-01-15 21:45] angelozerr commented on #178
I have tried to do that but it doesn't work -( There are no error, but eclipse console displays nothing.

I suppose that it's a problem with ILaunch/IProcess of protractor delegate that it is not used (because I call tern debugger).

[2016-01-15 22:32] piotrtomiak commented on #178
We could collaborate on that code, I will help you to get it working. Can you create PR with the stuff you have written and I'll take it over from there?

[2016-01-16 10:13] angelozerr commented on #178
That's cool:) but forget my last comments, I have found the problem, it works. I will commit soon my work.

After that I will update https://github.com/angelozerr/jsbuild-eclipse to use "tern debugger" and benefit with debug of Grunt/Gulp. I love so this idea with "tern debugger" :) Thank's @piotrtomiak for your contribution about "tern debugger"!

[2016-01-16 12:03] nicola883 opened #179 "Cannot autocomplete variable name"
I have fresh installed Eclipse Mars PDT and Angularjs plugin.
All looks working, just I cannot see the auto complete suggestion of the name of the variables in the contest.
I.e. if I assign
var foo;
I'd like to see the suggest when I type
fo
I have enabled all in Content assist in javascript and tern.
Maybe this is an issue of tern, so I'm sorry if I'm asking you help, but I cannot find any soluti

[2016-01-16 15:34] angelozerr commented on #179
@nicola883 I don't understand your issue?

[code]

No? But perhaps you would like to have have completion which open without Ctrl+Space? If it that I'm not sure that it's possible?

[2016-01-16 16:46] nicola883 commented on #179
Thanks to your suggest I thought that the problem could be with my linux box configuration. And it was: the Ctrl+space combination was associated with an other application. Disabling this now it works!

I'd like to have completation without press any keys, like the PDT, php prospective does. But it's not so important like to have in one way ;)

Many thanks!

[2016-01-16 17:15] angelozerr commented on #165
@Nikhil0538 I'm working on this feature. See https://github.com/angelozerr/angularjs-eclipse/issues/178 and https://github.com/angelozerr/angularjs-eclipse/wiki/Protractor

[2016-01-16 17:16] angelozerr commented on #179
Perhaps JSDT provides this feature, I don't know?

I close this issue

[2016-01-16 17:16] #179 closed

[2016-01-19 07:55] angelozerr commented on #178
@piotrtomiak you can play with protractor support. Now it creates a Protractor launch that you can customize if you need (choose debugger, node install).

I'm waiting for feedback.

[2016-01-19 17:36] angelozerr opened #180 "Support Dark Theme for Angular expression"

[2016-01-20 18:02] Starsk44 opened #181 "Debug as > Error while launching client file"
Hi,

First thanks for you amazing work!!

In Eclipse the Run As > Protractor works fine !!!! Thanks for that!!

I have an issue regarding the Debug As > Protractor.

I have installed : http://oss.opensagres.fr/angularjs-eclipse/1.2.0-SNAPSHOT/
I have installed Webclipse JavaScript Debugger (http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=2456312)

regarding the section : https:

[2016-01-20 21:31] angelozerr commented on #181
Thanks!

No it was a mistake. You must install "Tern Debuggers". I have fixed the update site:

![terndebuggersupdatesite](https://cloud.githubusercontent.com/assets/1932211/12463725/9761ecd0-bfc5-11e5-87f7-0a1c860ab42b.png)

Please install "Tern Debuggers".

[2016-01-21 10:14] Starsk44 commented on #181
Nice!

Done ;)

Now, I have one more Issue ("Selected Tern Repository is not imported as project in your workspace").
What I have done:

1/ In "Preferences > AngularJS > Protractor" I can now select the "Webclipse Javascript Debugger" Excellent!!
![image](https://cloud.githubusercontent.com/assets/16803759/12476745/85ca03c0-c02b-11e5-8cf8-87cc806d3ea3.png)

2/ In "Preferencies > JavaScript > Tern

[2016-01-21 10:23] angelozerr commented on #181
Tern debugger is used to debug any node application. Today we can debug:

 * Protractor with Debug As launch.
 * Tern plugins: when you do completion, hover, validation, etc inside JS Editor you can debug ternjs and tern plugins. So in your case you need not this feature (you wish to debug Protractor and not tern plugins). To debug tern plugins, you must import ternjs in your workspace (the goal o

[2016-01-21 10:49] Starsk44 commented on #181
First of all, thank you a lot for your fast response and your great support !!

When I run "Debug As > Protractor" I have the following error :
![image](https://cloud.githubusercontent.com/assets/16803759/12478061/322a0816-c033-11e5-84de-f95f908c876b.png)

![image](https://cloud.githubusercontent.com/assets/16803759/12478091/60a16b1c-c033-11e5-95a0-4849c7ce063f.png)

![image](https://cloud.githubu

[2016-01-21 10:52] angelozerr commented on #181
It's an issue with Webclipse. @piotrtomiak  have you an idea?

[2016-01-21 11:13] piotrtomiak commented on #181
@angelozerr indeed

@Starsk44 can you see if normal Webclipse debugging with Node.js works? Just create a simple "test.js" file with one line ```console.log("test")``` and right click on it -> Debug As -> Standalone Node.js Application.

It might be an issue with installation, some conflict with nodeclipse features? Can you show me the list of installed plugins? Type ```org.chromium``` in the filt

[2016-01-21 12:07] piotrtomiak commented on #181
@angelozerr Hmm... For me it keeps saying that it "Cannot find client file. Do you want to update Protractor preferences". I have imported everything as described in the doc. Maybe it has something to do with linux or spaces in the path?

[2016-01-21 12:19] angelozerr commented on #181
@piotrtomiak when yiu will have time, could you set a breakpoint at https://github.com/angelozerr/angularjs-eclipse/blob/master/org.eclipse.angularjs.ui/src/org/eclipse/angularjs/internal/ui/launchConfigurations/ProtractorLaunchShortcut.java#L159 ?

[2016-01-21 12:30] piotrtomiak commented on #181
@angelozerr Ok, so the issue is fixed. What I've found regarding the issue reported by @Starsk44 is that you are reusing existing launch configuration without updating it's configuration. So if a user launches protractor for config.js with external tool, it will than launch always with external tool. And it is the external tool which fails to launch in debug mode. I have the opposite situation in

[2016-01-21 12:30] Starsk44 commented on #181
Yo,

FYI : I have found a workaround :

Menu > Debug configurations ...
Create a new "Standalone Javascrip Application"

![image](https://cloud.githubusercontent.com/assets/16803759/12480413/6c85f42a-c042-11e5-8d07-47ae889bfedc.png)

![image](https://cloud.githubusercontent.com/assets/16803759/12480429/914647ec-c042-11e5-96fe-9a5862242244.png)

run this new debug conf ... and it works !!!!
![image

[2016-01-21 12:30] #181 closed

[2016-01-21 12:31] piotrtomiak commented on #181
@Starsk44 glad to hear that it works for you! I think that workaround is not enough though :) Let's keep it open until we get the Protractor launch issue figured out.

[2016-01-21 12:36] piotrtomiak commented on #181
@angelozerr my proposition is to create a normal launch configuration, which would appear in the Debug/Run dialogs and could be edited over there. That launch config would spawn nodejs/nodeclipse/cli launches. Also, you need to "override" launch mode to "run" for cli "debug" launches, as the external tools launch delegate cannot handle "debug" mode.

[2016-01-21 12:37] Starsk44 commented on #181
Ok Ok, let me know If I can help you here.

Thank you guys!! Thanks a lot for your amazing work and support.
Have a good day!

Cheers
Arnaud

[2016-01-21 12:46] piotrtomiak commented on #181
@angelozerr I've create PRs to solve all the reported issues. As for the launch configuration persistence, proposed fix is temporary just to keep people working with existing code. Once we have a normal Protractor launch configs, we will be able to reuse launches. We are now in a very hot period as we work on MyEclipse release on Mars, but after that I will be able to help you/write the Protractor

[2016-01-21 12:59] piotrtomiak commented on #178
@angelozerr For me, I am not able to see and edit the launch configuration. Also, I think with experience of @Starsk44 the launch configuration is little confusing for users. When a launch config is created it should point to default value, not store it. That's how we did with JavaScript Debug Launch. You can choose to use a default installation (than the field is stored as null) or a particular o

[2016-01-21 13:05] angelozerr commented on #178
@piotrtomiak I have stored value inside launch config protractor, because user want sometimes change debugger, protractor cli file and more add args for protractor (not supported for the moment). So I think it's important to save the launch and user can edit it. No?

[2016-01-21 13:18] piotrtomiak commented on #178
Yes, it is, but for me, I couldn't find a protractor launch config anywhere. Something is wrong here. So, maybe it is not good to remove the protractor launch, but rather fix it, so that it shows in run/debug launch configurations.

[2016-01-21 13:41] angelozerr commented on #178
It is stored inside External Tools (liek Program) and not inside Run/Debug. If you don't like that I can remove the category https://github.com/angelozerr/angularjs-eclipse/blob/master/org.eclipse.angularjs.ui/plugin.xml#L459 to show the launch in the Run/Debug

[2016-01-21 14:01] piotrtomiak commented on #178
To be true, I haven't found it there either, but yes I think it is better to place it in the Run/Debug launch configs.

[2016-01-27 22:07] angelozerr opened #183 "Improve Angular validation with Eclipse Neon IHTMLCustomAttributeValidator/IHTMLCustomTagValidator"
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=443097

[2016-01-28 19:34] vuthunori opened #184 "unable to add plugin to eclipse neon, mars"

[2016-01-28 19:40] jabby commented on #184
Hello @vuthunori I use this plugin in Mars.1 since the release of Mars.1. So you can add this plugin without problem.

For Neon version of Eclipse, I just tried with the M4 and I have no problem to install the plugin.

What is your problem ?

[2016-01-28 19:58] angelozerr commented on #184
@vuthunori could you explain more what is your problem?

[2016-02-01 10:49] #165 closed

[2016-02-03 01:39] khushwinder opened #185 "This plugin is not compatible with eclipse neon"
This plugin is not compatible with eclipse neon, will it be upgraded?

[2016-02-03 07:21] angelozerr commented on #185
Is it the same issue than https://github.com/angelozerr/angularjs-eclipse/issues/184 ?

What do you mean with "not compatible"? Which problem do you have?

[2016-02-03 07:27] khushwinder commented on #185
I am getting err while installation that this plugin is not compatible with
eclipse neon version.
On 03-Feb-2016 12:51 PM, "Angelo" <notifications@github.com> wrote:

[2016-02-03 07:40] angelozerr commented on #185
Ok I will try with neon. AngularJS Eclipse will be compatible with neon, because it will use for instance new WTP custom validator to improve a lot validation of HTML angular elements/attributes https://github.com/angelozerr/angularjs-eclipse/issues/183

[2016-02-03 07:58] khushwinder commented on #185
Thanks for trying .
On 03-Feb-2016 1:10 PM, "Angelo" <notifications@github.com> wrote:

[2016-02-03 08:07] angelozerr commented on #185
DO you use update site or market place? It seems that with update site it can resolve dependencies. Could you add a screenshot with your error please and tell me which OS you are using.

[2016-02-03 08:14] khushwinder commented on #185
I used marketplace.
On 03-Feb-2016 1:37 PM, "Angelo" <notifications@github.com> wrote:

[2016-02-03 08:15] angelozerr commented on #185
Please retry with marketplace or use update site.

[2016-02-04 00:49] khushwinder commented on #185
its great working now , appreciate quick fix.

[2016-02-04 00:49] #185 closed

[2016-02-25 14:17] calinmarina opened #186 "Canot install SNAPTSHOT version in Mars 1"
Version: Mars.1 Release (4.5.1)

I get this:
![image](https://cloud.githubusercontent.com/assets/1877148/13321980/92af5d48-dbd2-11e5-976f-decb19f8871e.png)

[2016-02-26 07:35] angelozerr commented on #186
Could you retry please. We had a problem with cloudbees.

[2016-02-26 07:38] angelozerr commented on #184
None answer I close this issue. I think it was the same problem than https://github.com/angelozerr/angularjs-eclipse/issues/185

[2016-02-26 07:38] #184 closed

[2016-02-26 23:11] calinmarina commented on #186
worked perfect now... thank you.

[2016-02-26 23:11] #186 closed

[2016-03-01 14:12] angelozerr commented on #164
I close this issue. I have decided to give up Angular2 support with tern.java and support Angular2 with TypeScript with :

 * https://github.com/angelozerr/typescript.java
 * https://github.com/angelozerr/angular2-eclipse which will based on https://github.com/angelozerr/typescript.java

[2016-03-01 14:12] #164 closed

[2016-03-02 01:52] paulvi commented on #164
Hooray!

[2016-03-02 01:53] paulvi commented on #164
Is there alliance growing between Google and Microsoft?

[2016-03-02 06:20] angelozerr commented on #164
@paulvi glad my idea please you. typescript.java starts working (completion, hyperlink, hover, validation). I'm working on preferences (choose node.js, choose typescript bundle). For advanced features like refactoring, search, outline, etc I will see that in later. I would like to intialize Angular2 Eclipse soon based on typescript.java. I'm very motivated because my integration of TypeScript insi

[2016-03-06 20:57] roarcoder opened #187 "AngularJS Editor not working"
After following the official tutorials, the plugin is not working fully. Especially the Angular editor.

**What seem to have gone well so far:**
- Plugin installed without errors
- For 'Tern', a native 'node' has been installed, /usr/local/bin/node is accessible by user
- In Preferences, the Tern->Server has been configured to use native one
- My test project has been converted to an AngularJS pro

[2016-03-06 22:19] angelozerr commented on #187
The wiki is out of the date. Specific AngularJ SEditor doesn't exist more. Now you can open your HTML with standard HTML Editor.

[2016-03-07 10:43] #95 closed

[2016-03-08 02:36] futaroAqp opened #188 "refresh tern outline has encountered a problem."
Hello,
first of all i like this awesome plugin, it works for me very well but sometimes Eclipse shows me this message:
![eclipseangularerror01](https://cloud.githubusercontent.com/assets/11325737/13590216/0dea678c-e4ac-11e5-9b8b-4e4a188dc843.png)

I think the server stops sometimes without a reason or maybe because i have several files in my project.
I have read the Getting started page but i can

[2016-03-08 05:03] angelozerr commented on #188
Please share your project.

This menu appears if you have not a .tern-project file in the root of your project which contains "angular" as plugins.

It strange you should see a Tern menu iten after JavaScript. But what do you want to configure?

Please share your project and tell me which files you are opening, slecting, etc to reproduce our problem. Thanks

[2016-03-08 17:24] futaroAqp commented on #188
ohh you have the reason!

For example the scripts path, i want to limit the files that "Angular Explorer" loads:
![eclipseangular10](https://cloud.githubusercontent.com/assets/11325737/13608810/61dda25a-e524-11e5-890c-72932d7b0aba.png)

or how a can do that?
On the other hand, i found this now:
![eclipseangular11](https://cloud.githubusercontent.com/assets/11325737/13608814/641815fa-e524-11e5-8772

[2016-03-11 08:13] angelozerr commented on #188
@futaroAqp please create an issue per problem.

TernExplorerView doesn't exist now. Please close this view and open "Tern Outline"

Thanks to have sharing your project. Could you tell me which file you open to having your error? Thanks!

[2016-03-19 18:10] pr144 opened #189 "Anjular Install error"
When I drag/drop to install I get the following error..

Cannot complete the install because one or more required items could not be found.
  Software being installed: AngularJS Eclipse 1.1.0.201511091212 (angularjs-eclipse-feature.feature.group 1.1.0.201511091212)
  Missing requirement: Eclipse AngularJS UI 1.1.0.201511091212 (org.eclipse.angularjs.ui 1.1.0.201511091212) requires 'bundle org.ecli

[2016-03-19 22:42] angelozerr commented on #189
I suggest you that you download Eclipse JEE Mars

[2016-03-21 23:56] pr144 commented on #189
I tried the Eclipse marketplace and it only show Angular 1.1 for Eclipse Luna...

Does Eclipse JEE Mars support Angular 2?

Thanks,
Pete

[2016-03-22 00:16] angelozerr commented on #189
@pr144 I'm a little lost. I though your problem was about installation and not for Angular2 feature.

AngularJS Eclipse depends on WTP HTML Editor that you can have when you download Eclipse JEE mars. If you download Eclipse JEE Mars, you will already have the WTP HTML Editor and it will fix your problem of your issue.

Eclipse Marketplace provide the installation of the released AngularJS Eclipse

[2016-03-22 00:57] pr144 commented on #189
My problem is I have Eclipse Luna configured for Jython development.  I was hoping to update Luna and have both Angular and Jython in that Eclipse version.

I am not sure if the Jython libraries I need to use are compatible with Mars.  If they are I may just migrate to Mars...from what you are saying it seems that would be the best way to enable Angular 2

Thanks,
Pete

[2016-03-23 11:56] jsoomro opened #190 "Cannot complete the install because one or more required items could not be found"
Cannot complete the install because one or more required items could not be found.
  Software being installed: AngularJS support for PHP (PDT) 1.1.0.201511091212 (angularjs-eclipse-php-feature.feature.group 1.1.0.201511091212)
  Missing requirement: Tern - Server - Nodejs 1.1.0.201511082254 (tern.server.nodejs 1.1.0.201511082254) requires 'package org.apache.http.client 4.1.3' but it could not be

[2016-03-23 13:17] angelozerr commented on #190
Please install AngularJS Eclipse with "Eclipse JEE" Mars distribution

[2016-03-23 13:49] jsoomro commented on #190
Ok, so it would not work with eclipse juno,

thanks

[2016-03-23 13:49] #190 closed

[2016-04-04 19:26] aditi246 opened #191 "Not able to find option for Ecma Script in Tern Project Configuration"
I downloaded the Tern plugin with eclipse .
I do not see the option to configure the Ecma Script.
I have Mars.2 Release (4.5.2) along with Tern eclipse Ide 1.1.0

![screen shot 2016-04-04 at 12 24 17 pm](https://cloud.githubusercontent.com/assets/18270503/14260390/2e9116d8-fa60-11e5-88d4-1f3259815f94.png)

[2016-04-04 20:28] angelozerr commented on #191
Since 1.1.0, ECMAScript preferences comes from **Tern property page**:

*![EclipseIDE_ECMAScriptSelectVersion](https://github.com/angelozerr/tern.java/wiki/images/EclipseIDE_ECMAScriptSelectVersion.png)

See https://github.com/angelozerr/tern.java/wiki/Tern-&-ECMAScript-support

[2016-04-08 12:47] isprabakar opened #192 "Unable to download ternjs_1.1.0.201511082254.jar"
I tried to download/install the angular js plugin for eclipse (Luna) multiple times, but in vain. Every time, the download failed when downloading the ternjs.jar file:
"An error occurred while collecting items to be installed session context was:(profile=epp.package.java, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://oss.opensa

[2016-04-08 12:51] angelozerr commented on #192
I don't know yiou have tfis problem but in my case it works. I suggest you that you try to install 1.2.0-SNAPSHOT.

[2016-04-08 13:33] isprabakar commented on #192
Thank you for the quick response. Tried the 1.2.0-SNAPSHOT and still facing the same issue. :-(
An error occurred while collecting items to be installed
session context was:(profile=epp.package.java, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://oss.opensagres.fr/angularjs-eclipse/1.2.0-SNAPSHOT/plugins/ternjs_1.2.0.20160307111

[2016-04-08 13:35] angelozerr commented on #192
I think your network is slow, try to download local update site at https://github.com/angelozerr/angularjs-eclipse/releases

[2016-04-08 14:22] isprabakar commented on #192
Great! I downloaded the zip version from github and installed the angular js plugin from the same. I was able to download the zip fully (36 MB) and successfully install it too. Thank you for the help!

[2016-04-11 16:47] mihaibuba opened #193 "Auto complete not working on Eclipse Mars 4.5.2"
Since I did nothing really special, I am assuming it is due to the version of Eclipse I am using, which is 4.5.2, (but this is just a strong guess!); anyway here it is:

**# Steps to reproduce:**

- [ ] Install version 1.1.0 of the plugin from the marketplace, with all additional features (both required and optional)
- [ ] Configured tarn to run both as native (v 4.4.2), as well as embedded
- [ ]

[2016-04-11 17:13] angelozerr commented on #193
I have tested with Eclipse Mars 4.5.2 completion for  `<!DOCTYPE html>
<html ng-` and it works well? I suggest you try to install 1.2.0-SNAPSHOT with update site https://github.com/angelozerr/angularjs-eclipse/wiki/Installation-Update-Site

[2016-04-11 18:45] mihaibuba commented on #193
I have tried the following:
- Uninstall version 1.1.0 + restart
- Install version 1.2.0-SNAPSHOT (checked on original project; not working)
- Created a separate workspace in Eclipse
- Imported angularjs-seed project in a new folder
- Configure -> Convert to AngularJS project (checked; not working)
- Project properties -> Tern -> Script paths -> added all folders (checked; not working)
- Changed to

[2016-04-11 21:20] angelozerr commented on #193
I'm a little lost -( I suggest you that you share your project with github. It works for me?

[2016-04-11 22:22] mihaibuba commented on #193
Well, you can just take a gun and shoot me :( When all the fancy stuff works, check that the switch is flipped, before you start taking apart the whole machine...
I didn't have content assist activated in Eclipse for JavaScript. So I did activate that, and also set the Editor to activate content assist when - is inserted in HTML files.
![html activated](https://cloud.githubusercontent.com/assets/1

[2016-04-11 22:22] #193 closed

[2016-04-11 23:10] angelozerr commented on #193
Ok your problem was with "Auto activation", but you can open completion with Ctrl+Space.

[2016-04-17 20:50] #192 closed

[2016-04-18 23:12] kasidkhansbp opened #194 "Unable to run protractor test case from eclipse"
Hi All,

I am new to Protractor.I am not sure, if this is the right place to discuss Protractor issue. Please direct me to the right group if this is not the right place for this discussion.

I am unable to run protractor test case from eclipse.
I am able to see Protractor option in my eclipse (Run as> Protractor) but when I run, nothing happens.

Please find the steps followed by me.
Pre requisit

[2016-04-19 00:07] angelozerr commented on #194
Please share your project.

[2016-04-19 00:37] kasidkhansbp commented on #194
Hi angelozerr,

Thank you for the quick reply. The issue is resolved.
I had missed additional configuration in eclipse.
I had not configured Protractor in eclipse "Run configuration".

Sharing the details below for anyone facing the same issue.
1. Click on run configuration
![image](https://cloud.githubusercontent.com/assets/8575030/14624016/7b8b397e-058b-11e6-898b-61d94e5c2de9.png)

2. Configure

[2016-04-19 00:37] #194 closed

[2016-04-24 17:47] vt00341139 opened #195 "Angular Install Error on Myeclipse"
Logs says
Cannot complete the install because one or more required items could not be found.
  Software being installed: Tern server node.js feature 1.1.0.201511082254 (tern-server-nodejs-feature.feature.group 1.1.0.201511082254)
  Missing requirement: Tern - Server - Nodejs 1.1.0.201511082254 (tern.server.nodejs 1.1.0.201511082254) requires 'package org.apache.http 4.1.4' but it could not be foun

[2016-04-24 18:14] angelozerr commented on #195
Please use Eclipse Mars.

[2016-04-25 06:11] vt00341139 commented on #195
Fixed that issue as I downloaded eclipse mars earlier i was using myeclipse .Thanks for help

[2016-04-25 06:11] #195 closed

[2016-04-25 07:22] angelozerr commented on #195
@piotrtomiak it's a strange problem, no?

[2016-04-25 08:00] piotrtomiak commented on #195
@vt00341139 MyEclipse 2015 or 2016 ships with the latest Angular, so you should not need to install it additionally. Could you please provide more details on what kind of setup you have used?

[2016-04-25 09:13] vt00341139 commented on #195
I was using an old version of MyEclipse 2012

[2016-04-25 09:34] piotrtomiak commented on #195
Ok, in this case I would advise you to migrate to the newer version, your license will still work with it. 2016 is based on Mars, whereas 2015 is based on Luna.

[2016-04-25 09:43] vt00341139 commented on #195
Ok thanks for the advice will do it definitely

[2016-05-02 11:27] vivekjain11 commented on #189
Hi,
i have mars.2 installed my machine and installed the plugin from eclipse marketplace which went thru successfully
Followed the configuration to the Tee and things were looking fine as could see all the modules etc.

howeever when i am trying to open an html file with angular content it is not recognising the angular markups
Also i dont see any angular editor in the list of editors available
Pl

[2016-05-02 11:36] angelozerr commented on #189
@vivekjain11 https://github.com/angelozerr/angularjs-eclipse/wiki/Getting-Started#validation should help you. Please note that Eclipse Neon improve WTP Validator with extension point to not validated custom attribute/element. Once Neon will be available, I will commit my work and "HTML Angular Syntax Validator" will not exists more. It will work directly with standard "HTML Syntax Validator".

[2016-05-06 12:50] ckasap opened #196 "Angularjs eclipse plugin - modules not listed"
Hi ,

I am behind corporate proxy and trying to use the plugin.

My problem is intellisense is not working. I have read many tutorials for plugin installation but none of them is adressing the issue...

I think the problem is that the modules are not listed.

![pic](https://cloud.githubusercontent.com/assets/5550814/15073354/b28c872e-13a1-11e6-90ab-405ffb2d5ef5.png)

Most likely a proxy error but

[2016-05-07 12:52] angelozerr commented on #196
It seems that your ternjs plugin (which contains tern plugin)is not installed correctly? Check you have a ternjs* folder in your Eclipse HOME.

It seems  D:\programs\eclipse-jee-mars-2-win32-x86_64\eclipse\plugins\ternjs_1.1.0.201511082254.jar should hosts the same files than https://github.com/angelozerr/tern.java/tree/master/core/ternjs

[2016-05-13 10:04] oi-io opened #197 "No Tern option under "windows/prefrence""
All components are installed, I can see everything in plugins/features folder too.
But the tern setting option is not available, I can see
<img src="http://www.awesomescreenshot.com/image/1245011/068589991d02a63276fcc1861bb5f3c1">

[2016-05-13 10:33] angelozerr commented on #197
That's strange which version of Eclipse do you use? Which tern.java version do you use?

[2016-05-13 14:12] oi-io commented on #197
I am on Version: Mars.1 Release (4.5.1) Build id: 20150924-1200
and 1.2.0-SNAPSHOT,  but I tried 1.1 release too and it was the same.

[2016-05-13 17:37] husnutapan opened #198 "Spring MVC backend Angular frontend"
Hello friends I am working angularjs and backend section is Spring mvc.I am using eclipse IDE but angular's code not working on eclipse how can I entegred on that?

[2016-05-13 18:21] angelozerr commented on #198
Please give more information than "not working". Which problem do you have, completion, validation? I suggets you that you shar eyour project and tell me which problem you have.

[2016-05-18 06:32] pramodinis commented on #160
I have installed

Eclipse Java EE IDE for Web Developers.
Version: Mars.2 Release (4.5.2)
Build id: 20160218-0600

I am facing this issue , please suggest me how to resolve this one.

An error occurred while collecting items to be installed
session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at htt

[2016-05-18 07:14] angelozerr commented on #160
As @Vikasts suggested:

[2016-05-19 16:38] moconnor59 commented on #197
Same problem here, I'm following the instructions at github.com/angelozerr/angularjs-eclipse/wiki/Getting-Started, but I'm stuck when I get to the section 'Preferences Settings/Global Preferences/Node.js' as there's no Tern section in my Window/Preferences.

I'm running on Windows 7, with a new install of Eclipse Java EE IDE for Web Developers, Mars Release 4.5.2 and with version 1.1.0 of the Tern

[2016-05-20 12:53] moconnor59 commented on #197
Update: I've successfully restored Tern preferences in eclipse by downgrading to the 1.0.0 version of the Tern installation modules, so for now at least I'll go with that option.

[2016-05-29 14:40] hemantkrbajaj opened #199 "Path must be a String. Received undefined"
Hi team i am facing the below issue while running the protractor test with eclipse:
path.js:8
    throw new TypeError('Path must be a string. Received ' +
    ^

TypeError: Path must be a string. Received undefined
    at assertPath (path.js:8:11)
    at Object.win32.join (path.js:221:5)
    at C:\Users\Hemant Bajaj\AppData\Roaming\npm\node_modules\protractor\node_modules\selenium-webdriver\safari

[2016-05-29 14:57] angelozerr commented on #199
I'm not a big expert with protractor. Have you the same problem when you start protractor without eclipse?

[2016-05-29 15:35] hemantkrbajaj commented on #199
@angelozerr  No, it worked with the command prompt.

[2016-05-29 16:12] angelozerr commented on #199
@hemantkrbajaj I have no time to study the problem today.

[2016-06-03 19:23] jobec opened #200 "No support for AngularJS Components"
Angular Components are not recognized.
https://docs.angularjs.org/guide/component

[2016-06-10 13:13] SomeshKumarN opened #201 "Protractor is not available in the Run option"
Hi @angelozerr , i followed the procedure you given in the post but after doing all the steps i am not able to see the 'Protractor' option in when i click on 'Run
![untitled](https://cloud.githubusercontent.com/assets/18733133/15965371/0f57236a-2f3b-11e6-962e-d4a3f6117ee0.png)
 As'. Could you please advise me  that do i need to make any further changes to get the protractor reflected into 'Run As

[2016-06-10 13:19] angelozerr commented on #201
Which version of AngularJS Eclipse do you use? It's available for 1.2.0 which is not released. Your project need to be an angular project.

[2016-06-13 12:01] SomeshKumarN commented on #201
when 1.2.0 will be released?

[2016-06-17 07:21] #175 closed

[2016-06-22 00:17] hkapur68 opened #204 "Can't install tern.java 1.2.0 in Eclipse Java EE IDE 4.5.2"
When I try to install tern.java 1.2.0 for Eclipse Java EE IDE 4.5.2 for Java developers, the installation starts but then stops just one quarter of the way through with an error whose details are as follows:

An error occurred while collecting items to be installed session context was:(profile=epp.package.java, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=). Unable

[2016-06-22 06:37] angelozerr commented on #204
It's because our server which host tern.java can be slow. You can download update site at hand at https://github.com/angelozerr/angularjs-eclipse/releases

[2016-06-23 02:03] hkapur68 commented on #204
How do I install it in Eclipse using this url: https://github.com/angelozerr/angularjs-eclipse/releases

[2016-06-23 03:40] angelozerr commented on #204
It's a local update site. You use it like update site url  http://oss.opensagres.fr/tern.repository/1.2.0/ except you select the folder of the downloaded update site which is zipped. See http://help.eclipse.org/mars/index.jsp?topic=%2Forg.eclipse.platform.doc.user%2Ftasks%2Ftasks-127.htm

[2016-07-01 09:42] steve-price opened #205 "Quotes around property names not recognised correctly"
If I have a directive/service etc that has properties defined in single quotes then it works fine with Angular, but not with the eclipse plugin.  The properties do show up in the Angular Explorer but not with and key, just a value

For example, the following does not work correctly, it knows that it exists but for some reason the directive is assumed to be restricted to attributes?

[code]

But, w

[2016-07-01 12:04] angelozerr opened #206 "AngularJS Eclipse 1.3 will work only with Eclipse Neon?"
@piotrtomiak @vrubezhny @kaloyan-raev @alexeykazakov @dgolovin @mickaelistria I would like to use Neon WTP Custom HTML Editor to fix for instance https://github.com/angelozerr/angularjs-eclipse/issues/121 :
and I could remove my uggly WTP Validator to ignore errors for ng attributes, elements.

Are you agree with AngularJS Eclipse 1.3 will work only with Eclipse Neon?

[2016-07-01 12:06] kaloyan-raev commented on #206
+1

Please, set a version constraint on the dependency, so AngularJS Eclipse 1.3 cannot install on Eclipse Mars and older.

[2016-07-01 12:08] vrubezhny commented on #206
+1

And +1 for version constraint adding.

[2016-07-01 12:22] piotrtomiak commented on #206
+1

Sounds like a good idea.

[2016-07-02 06:42] angelozerr commented on #206
Many thanks guys for your answer!

I have removed my `HTML Angular Syntax Validator` and replace it with HTML WTP custom validator, it's really clean, that's cool.

The custom validator :

 * ignore error for ng- (ng-app and custom directive) for attribute and element.
 * mark error when module (with ng-app), controller (ng-controller) is not found.

If you find bugs, please create issues. Thanks.

[2016-07-02 06:42] #206 closed

[2016-07-05 19:58] ripplejb commented on #192
I had same issue. This is what I did...

I downloaded the file and copied the file in Plugin folder. Restart installation of the plugin and it worked.

[2016-07-11 00:31] angelozerr opened #207 "Cannot find node install path node-native Do you want to update Protractor preferences?"
See http://stackoverflow.com/questions/38249062/eclipse-unable-to-find-install-path-node-native

[2016-07-11 00:32] #207 closed

[2016-07-15 04:31] mostafabarmshory commented on #110
+1

[2016-07-26 17:40] angelozerr commented on #205
I think I know how to fix this issue, but using simple quote is it a best practrice?

[2016-07-27 09:02] steve-price commented on #205
Thanks for the reply.

I guess an argument for supporting this is not whether it is best practice, but that it is supported by angular, so existing projects that start using this plugin will have this problem if they have been using single quotes as no properties are being read and displayed correctly.  In addition to this I noticed that the restriction seems to default to attribute when it cannot

[2016-07-27 17:06] angelozerr commented on #205
I'm not a big expert wiatn angular but I say that because:

 * all samples that I have seen doesn't use simple or double quote for property name. See for instance angular style guide https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md#style-y074
 * acorn which is the JS parser of tern seems not to recognize property name with single quote.

If I find time I will try to study if

[2016-08-02 17:38] bhreinb commented on #199
Hello there,

This would seem to be an issue for me too. I believe it to be eclipse related. I get the exact same error @hemantkrbajaj  mentions above

path.js:8
    throw new TypeError('Path must be a string. Received ' +
    ^

TypeError: Path must be a string. Received undefined
    at assertPath (path.js:8:11)
    at Object.win32.join (path.js:221:5)
    at C:\Users\bxb145\workspace\Sample\nod

[2016-08-08 12:13] Saurabh06 opened #208 "Debug as > Error while debug as protractor"
I have installed webclipse and node eclipse javscript debugger fro debugging protractor script i am getting below error
![image](https://cloud.githubusercontent.com/assets/17181080/17479310/7ffba88e-5d8f-11e6-8b30-cce0e6779b1d.png)
May i know why this error i am getting while debugging in eclipse neon having webclipse and nodeclipse javscript debugger is installed , but i am able to run without an

[2016-08-08 12:26] angelozerr commented on #208
Which tern debugger do use (Webclipse, Nodeclipse, JSDT)? (see https://github.com/angelozerr/angularjs-eclipse/wiki/Protractor#debug

[2016-08-08 12:42] piotrtomiak commented on #208
@Saurabh06 - if you are using Webclipse, you should select and use it's JavaScript debugger instead of Nodeclipse one. From all 3 of the Chromium Dev Tools based debuggers - Webclipse, Nodeclipse, Neon JSDT - Webclipse is providing you the best experience. Note, that Webclipse has forked Chromium Dev Tools plugins and they are incompatible with Nodeclipse, so having both installed breaks Nodeclips

[2016-08-11 07:29] Saurabh06 commented on #208
thanks @piotrtomiak, its working now..

[2016-08-11 07:29] #208 closed

[2016-09-23 05:22] DivyaGN opened #209 "Trying to install getting error"
Hi ,
I tried installing angularjs-eclipse using both
http://oss.opensagres.fr/angularjs-eclipse/1.2.0/
http:///oss.opensagres.fr/angularjs-eclipse/1.3.0/
getting the below error
An error occurred while collecting items to be installed
session context was:(profile=epp.package.java, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://o

[2016-09-23 06:24] angelozerr commented on #209
Same issue than https://github.com/angelozerr/angularjs-eclipse/issues

[2016-09-23 06:24] #209 closed

[2016-09-23 06:25] #204 closed

[2016-09-23 09:17] DivyaGN commented on #204
i don't see tern in the preference after installing in the Global Preferences.

i have installed tern tooling , ternserver nodejs feature,tern tooling,

and on preference ->Angular->protractor it says current display page contains invalid values

[2016-09-23 09:29] DivyaGN commented on #204
I have also installed "Debugger support for Weclipse" amd nodeeclipse still it says "not installed " in run/debug protractor with.

[2016-09-23 09:51] angelozerr commented on #204
You need to install Webclipse plugin. See https://github.com/angelozerr/tern.java/wiki/Debugging-Tern.js-on-Node.js

[2016-09-26 09:31] DivyaGN opened #210 "Run AS->protractor throws error client file cannot be empty."
protrator failed error while launching the client file

i have sent the below
Tern->Server->Node.js
Eclipse.app/Contents/Eclipse/plugins/tern.eclipse.ide.server.nodejs.embed.macosx.cocoa.x86_64_1.3.0.201609021048/node-v4.2.4-macosx-x86_64/bin/node

when i select preferences->AngularJS->protractor
it says "The urrent display page contains invalid values"

i have installed the webeclipse java script

[2016-10-03 13:43] pivan9911 opened #211 "Phonecat in AngularJS-Eclipse, and 'bower'"
Hello Angello Zerr.

I tried to use Eclipse-Neon with Angularjs-Eclipse plugin,   to make the
Angular-Phonecat tutorial working in Eclipse.

I cannot decide how to provide unresolved 'bower_components',  that are required in index.html.

    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="**bower_components**/bootstrap/dist/css/bootstrap.css" />
    <script

[2016-10-03 17:49] pivan9911 commented on #211
On Windows 10,  I installed node.js (containing npm) and also bower (npm install -g bower).
Git installation was also needed.
angular-phonecat/bower.json   ( run-a  bower-install,    works :-)

How does one now,  start execution of this thing ?

[2016-10-13 07:07] utkarsh56 commented on #194
Hi can you please guide to develop protractor framework .

[2016-10-13 07:08] utkarsh56 commented on #194
Hi kasidkhansbp can you please guide to develop protractor framework .

[2016-10-13 12:31] kasidkhansbp commented on #194
Hi Utkarsh,

Are you facing any issue?
A good start would be to read Protractor doc.
http://www.protractortest.org/#/

Thanks and Regards,
Md Kasid Khan

[2016-10-13 20:54] angelozerr commented on #210
Please take time to read https://github.com/angelozerr/angularjs-eclipse/wiki/Protractor
.
If there are something which misses, please fill it

[2016-10-13 20:55] angelozerr commented on #211
This issue is about bower which comes from Eclipse Neon, please post your question to Eclipse forum. Thanks

[2016-10-13 20:55] #211 closed

[2016-10-14 06:26] utkarsh56 commented on #194
Hi Kasid,

Thank you for your quick reply.
I installed protractor also configured it with eclipse.
Now i want to develop a complete Automation framework using page object or any other for my angular application.
So i am looking for an approach or any base framework.
I am looking forward your suggestion.

Thanks,
Utkarsh

[2016-10-14 10:48] kasidkhansbp commented on #194
Hi Utkarsh,

I assumed you have worked on automation framework.

You can look into the  below tutorials and check out udemy or udacity, if any of the courses satisfy your need.

such as:
https://www.packtpub.com/books/content/behavior-driven-development-selenium-webdriver
https://www.udemy.com/cucumber-tutorials/
http://toolsqa.com/selenium-webdriver/page-object-model/

Thanks and Regards,
Md Kasi

[2016-10-24 12:46] utkarsh56 opened #212 "Why in my eclipse Node modules throwing error when i am installing protractor locally ?"
@angelozerr
Thank you.
In my eclipse Node modules  throwing error when i am installing protractor locally.
How to resolve it.
![nodemodule error](https://cloud.githubusercontent.com/assets/22809517/19646122/b44557d0-9a15-11e6-8d4f-b538372449ef.PNG)

[2016-10-25 20:46] Rhobal opened #213 "Missing documentation on how to expand HTML validation"
After activating the eclipse plugin, I'm getting a ton of validation warnings for directives of angular extensions, such as `uib-tooltip` or `translate` (from angular translate, not the HTML5 attribute)

I'm loading all libraries from cdnjs.cloudflare.com, and the Subresource Integrity attributes on the `script` tags (`integrity` and `crossorigin`) also produce validation warnings

Can you please

[2016-11-15 23:34] santhosh12992 commented on #199
Even i am also facing exactly the same issue. Fingers crossed...

[2016-11-16 11:22] santhosh12992 commented on #194
Hi kasidkhansbp,

Thanks for your question and answer.. I used your question and answer as a guide and i am also able to execute protractor from eclipse successfully. However there is one concern.. If a writing scripts in the eclipse IDE, lets say i am typing elements(by.) ..., at the moment i place the dot the console is not opening up for suggestion. I need to press control+spacebar everytime ma

[2016-12-13 01:14] moonki-cho opened #214 "Error when creating Angular2 project"
hello

my computer is a mac(os x el capitan) and using zsh(shell), Neon(4.6)

I am trying to create an angular2 project, but I get an error when I run the “npm install angular-cli@1.0.0-beta.22-1″ command.

The error message displayed on the terminal is “/bin/zsh: no such option: rcfile”.

(There is nothing wrong with the Mac terminal.)

I’d appreciate it if you could give me a solution.

[2016-12-13 13:09] Mirzabaig99 commented on #194
Hi @
![untitled](https://cloud.githubusercontent.com/assets/24522005/21141476/66aa53d4-c163-11e6-9541-a1343c2db698.jpg)
https://github.com/angelozerr,
After following all your above mentioned steps, still protractor is not visible in my preference window. Can you please help with some more detailed step.

*Refer to screen shot below*

[2016-12-14 12:25] antomanjooran commented on #194
Hai, I am new to protractor.
Could you pls explain what is cli.js. and how to configure it in eclipse

[2016-12-17 04:22] bouda25 commented on #197
Same issue here on Windows 10 eclipse neon.1 tern 1.2
Any progress on this issue?

[2016-12-17 09:40] angelozerr commented on #197
I have tried to search the problem, but I don't understand?

[2017-01-04 04:19] polyglotinc opened #215 "hmmm...installed from marketplace but nothing changed..."
I installed AngularJS into Eclipse Kepler SR2 via its Marketplace menu, but after restarting Eclipse a couple of times, nothing seems different...i.e. no special editors/views/perspectives.
When I add "ng-app" to an html tag, there is no suggestion text nor documentation popup as shown in the screen shot here: http://marketplace.eclipse.org/content/angularjs-eclipse#group-screenshots

What gives?

[2017-01-04 07:57] angelozerr commented on #215
Have you followed https://github.com/angelozerr/angularjs-eclipse/wiki/Getting-Started#angularjs-configuration?

[2017-01-27 04:41] jagadeeshpa commented on #194
Hi,
     while ran protractor in eclipse i got error H:/protractor/test/node modules/protractor/built/logger.js:75
info(...msg)

Kindly help me what i have been missed.

Thanks & Regards

[2017-01-27 04:45] jagadeeshpa commented on #194
Hi,
    I am new to protractor
tool need to install to run protractor in visual studio 2012
could you help me how to run the protractor code in visual studio 2012.

Thanka in advance

[2017-02-04 14:58] DivasPandey commented on #194
Hi,
I am learning protractor, and configured protractor in my eclipse mars. When i am executing my test with protractor it throws an error :
/***********************************************/
D:\MyTestWorkspce\ProtractorT\node_modules\protractor\built\logger.js:75
    info(...msgs) {
         ^^^

SyntaxError: Unexpected token ...
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile

[2017-02-05 09:17] angelozerr commented on #194
/***********************************************/
D:\MyTestWorkspce\ProtractorT\node_modules\protractor\built\logger.js:75
info(...msgs) {
^^^

I think it's a problem with the embed node.js version which is now old. Please try to install last version of node.js and after fill the preferences AngularJS/Protractor nodepath field with your installed nodejs pasth.

[2017-02-05 12:02] DivasPandey commented on #194
Thank you @angelozerr.  Issue is resolved now. Thanks for your quick response.

Thanks & Regards

[2017-02-09 22:54] chudyed commented on #194
@DivasPandey  could you share how you did it. I experience the same problem and I can' t get rid off it.
I've got the newest version on node.js installed which is v6.9.5.

Now, when I go to Window -> Preferences ->AngularJS -> Protractor  I have something like this:
![2017-02-09_23h47_28](https://cloud.githubusercontent.com/assets/23298175/22806389/24f4acae-ef22-11e6-8537-c21c868a9e49.png)

When i

[2017-02-10 20:43] chudyed commented on #194
@angelozerr  could you please refer to the post above?
Thank you

[2017-02-10 22:05] angelozerr commented on #194
@chudyed to be honnest with you, I'm very busy with angular2-eclipse and it's hard for me to find time to fix problem with protractor. I want to support protractor for angular2-eclipse, when I will do that I will study the problem with angularjs eclipse.

[2017-02-11 07:55] DivasPandey commented on #194
@chudyed - Sorry for the delay.
My node version is - v6.9.4
Protractor version is - Version 5.0.0
The only difference I am seeing in your configuration and my configuration is - Path mentioned in "Node.js install" section. Try to configure your run with "Native Node.js" option and in path select the location where your node.exe has installed.
![protractor run config](https://cloud.githubuserconten

[2017-02-15 11:58] neethuvs opened #216 "Error when run test case"
Hi sir
 am quite new in protractor..  when am  try to run i got the error as follows..kindly please help me to solve this issue.. thanks in advance

module.js:340
    throw err;
    ^

Error: Cannot find module 'E:\SourceTree\Angular'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:289:25)
    at Function.Module.runMain (module.js:467:10)
    at s

[2017-02-17 06:46] sigudd commented on #194
hi ,

My Node Version is 6.9.5
npm Version is 3.10.10
Protractor --version is 5.1.1

I'm still facing the below issue...
can some one help me in this
**Error:**
c:\Users\.....\logger.js:75
info(...msgs) {
         ^^^

SyntaxError: Unexpected token ...
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:414:25)
    at Object.Module._extensions..js (module.js:442:10)

[2017-02-21 16:12] Sunny-Teo commented on #194
Hi All,
I  am new to protractor and was facing the same issue. It was solved by doing some hit and trial.
So, I am giving the steps:-
#Click on Debug.
#Right Click as show below and click “Edit Protractor for_XXX_conf.js.
#Change the location of the nodejs which you have installed.

[Protractor_Help.docx](https://github.com/angelozerr/angularjs-eclipse/files/790709/Protractor_Help.docx)

Please sh

[2017-02-22 22:24] chudyed commented on #194
@Sunny-Teo
Hi,
thanks for your response - > your advice is really usefull and in my case this is step into the right direction but I still have got to problems/questions
1) do you know hot to set the location once for all? What I mean is that I do everything like you said but I have to change this location every time I want to run conf.js
2) after I set a new location of node.js like you said and

[2017-02-23 06:39] sigudd commented on #194
@Sunny-Teo
Thanks, for your help. it worked for me. but I need to do the settings ( which you mentioned) every time I run.... is there any permanent solution... please let me know incase you find out.

[2017-02-23 06:54] angelozerr commented on #194
I tell me if it's not a problem with Oomph? Try to uncheck the given preference:

![image](https://cloud.githubusercontent.com/assets/1932211/23247958/3a9aebf6-f99d-11e6-83c9-07fde77678db.png)

[2017-02-23 08:04] Sunny-Teo commented on #194
Hi @sigudd @chudyed ,
I have check the above post by @angelozerr  after I have made my hand dirty with doing something which i dont know exactly. In my preference, above checkboxes are not selected.

What I have done?
# Copy the latest nodejs exe
#Navigate to the following path
C:\Users\XXXXXX\.p2\pool\plugins\tern.eclipse.ide.server.nodejs.embed.win32.win32.x86_64_1.2.0.201606160856\node-v4.2.4-w

[2017-02-23 18:34] chudyed commented on #194
@Sunny-Teo
This replacing node.js's works :) It's pretty smart workaround - I didn't come up with it :)
When it comes to my second problem: 'webdriver-manager update' doesn't help. Maybe there is something wrong with Protractor 5.1.1 itself, I don't know :(
@angelozerr
I use STS and I can not see anythink like Oomph in my IDE

[2017-02-24 08:46] Sunny-Teo commented on #194
@chudyed
Following versions are there on my machine:-
npm v3.10.10
node v6.9.5
protractor v5.1.1
Eclipse vMars

This is just for information and may be it help you to rule out something.

[2017-02-24 12:10] chudyed commented on #194
I have tried on:
npm v3.10.10
node v6.9.5 then v6.10.0
protractor v5.1.1
STS 3.3.0 and 3.8.3(Eclipse Neon 2 v4.6.2)
Windows 8.1 Enterprice

Everything works in window console but there is a problem with IDE :(   (I am a step forward ;))

[2017-03-03 06:08] aarya91 commented on #194
Hi , I am not able to view the option Protractor in Preferences. Can someone please help me out

![image](https://cloud.githubusercontent.com/assets/15685322/23540197/ddc0ca3a-0005-11e7-83c6-aeb3a63bae66.png)

[2017-03-13 21:14] mailtoab commented on #192
hello @angelozerr
I am getting the following error
An error occurred while collecting items to be installed
session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://oss.opensagres.fr/angular2-eclipse/1.2.0-SNAPSHOT/plugins/ts.repository_1.2.0.201703072021.jar.
Premature end of Content-Length d

[2017-03-14 08:01] mailtoab opened #217 "Angular2 IDE Plugin Issue"
hello @angelozerr

I have installed node and angular-cli.
After that while installing angular2 plugin on Neon Eclipse, getting the following error:

An error occurred while collecting items to be installed
session context was:(profile=epp.package.jee, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://oss.opensagres.fr/angular2-ecli

[2017-03-14 08:07] angelozerr commented on #217
Your issue is for https://github.com/angelozerr/angular2-eclipse/issues

Our server is a little slow, so you can have this trouble (according some countries). I suggest you that you try to download local update site https://github.com/angelozerr/angular2-eclipse/releases

[2017-03-14 08:07] #217 closed

[2017-03-14 14:03] mailtoab commented on #217
Awesome @angelozerr.
After installation, I created angular2 project in eclipse. It is taking long time to download node modules. What is the reason?

[2017-03-14 14:06] angelozerr commented on #217
It's @angular/cli which download node modules. If you open a System terminal (without eclipse), you will have the same problem.

If you need more info, please post your question to angular/cli github project.

[2017-03-14 14:25] mailtoab commented on #217
Thanks again @angelozerr.
I have created the following issue, Is it the right place?
https://github.com/angular/angular-cli/issues/5415

[2017-03-14 14:31] angelozerr commented on #217
@mailtoab 1.1.0 uses the old version of angular cli "angular-cli".

Today you must use "@angular/cli" which is supported by Angular2 Eclipse 1.2.0-SNAPSHOT.

I close this issue because it's not the Angular2 project  https://github.com/angelozerr/angular2-eclipse/issues

[2017-03-14 14:39] mailtoab commented on #217
I don't get this.  What should I do now to install @angular/cli?

[2017-03-14 18:13] mailtoab opened #218 "Angular2 Eclipse"
@angelozerr

Do you have local update site for angular2 eclipse plugin
Angular2 Eclipse 1.2.0-SNAPSHOT?

[2017-03-14 19:41] angelozerr commented on #218
@mailtoab your issues are about Angular2 Eclipse and not AngularJS Eclipse. Please create your issues at https://github.com/angelozerr/angular2-eclipse/issues

Thanks!

[2017-03-14 19:41] #218 closed

[2017-03-14 22:27] Rhobal commented on #213
I could remove many warnings by prefixing attributes with data- but that doesn't work for element directives. Would still appreciate support on how to accept the attributes in validation

[2017-03-15 07:13] angelozerr commented on #213
@Rhobal  I'm very busy with Angular2 Eclipse, no time to do this issue -(

[2017-03-17 19:16] bgx90 opened #219 "Problem with source hover popup and Dark theme"
I am using the AngularJS plugin with Eclipse Neon.2.  The plugin seems to be overriding the source hover popup color settings somehow, and I cannot find a way to change the background or foreground color of the source hover popups.   If I set my workspace to use the Eclipse Dark theme, the AngularJS documentation in the popups that appear when hovering over JavaScript methods, objects, etc. appear

[2017-04-06 04:14] anjalisingh824 commented on #194
@angelozerr I am not able to chose the node js version.Can u pls help me out as i have been stuck on this issue for past 1 week

[2017-04-20 07:56] jludvice commented on #214
Hello, I have the same issue when I try to import existing Angular project into eclipse.

[2017-04-20 08:09] angelozerr commented on #214
This repository is for AngularJS and not for Angular2. Please report issue at https://github.com/angelozerr/angular2-eclipse

Using npm is not managed by Angular2 Eclipse, but Angular2 Eclipse provides a wizard to generate Angular2 Project, please install 1.2.0 angular2 eclipse https://github.com/angelozerr/angular2-eclipse/wiki/Installation-Update-Site

[2017-04-20 08:09] #214 closed

[2017-05-02 12:32] sujithsris commented on #207
Hi all
I am trying to setup protractor in eclipse IDE and  I have installed the bellow things so far...
npm version 3.10.10
protractor version 5.1.1
windows 10 pro
Eclipse Neon (4.6.0)
AngularJS Eclipse 1.2.0
When iam trying to execute i getting error
 Error while launching client file
Cannot find node install path node-native
![image](https://cloud.githubusercontent.com/assets/28299386/25617754/7

[2017-05-06 01:47] yeikel commented on #207
Did you fix it?

[2017-05-12 07:16] ZoeThivet commented on #207
Same error! Drives me kwayyyyzeeeeee

[2017-06-03 08:58] Sunny-Teo commented on #194
@anjalisingh824
Please check the below post if it helps to solve your issue.
Sunny-Teo  commented on Feb 23

[2017-06-06 11:37] chandra1653 commented on #207
Hi ,
Did you fix the issue , I am also facing the same at my end

[2017-06-09 06:48] sagar021988 commented on #165
Hello @angelozerr
I am new to protractor and i have configured protractor on eclipse luna on windows 10 and while running the protractor test case via eclipse i am facing error as 👍

module.js:340
    throw err;
    ^

Error: Cannot find module 'C:\Users\Sagar'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:289:25)
    at Function.Module.runMain

[2017-06-14 13:11] sdseenu opened #220 "Cannot find node install path node-native"
Am getting below error i cannot find any solution for run protractor through Eclipse
Error while launching client file
Cannot find node install path node-native
![image](https://user-images.githubusercontent.com/25522319/27133752-eda2c9ea-5130-11e7-97bc-b10c8a59eafb.png)

[2017-06-14 14:14] sdseenu commented on #220
Dear Angelozerr,
How to match any one values in ui-grid-cell for list of rows and other rows do not show but currently through the errors like below
![image](https://user-images.githubusercontent.com/25522319/27136752-b62e7d0c-5139-11e7-9789-957f173e2b3a.png)

![image](https://user-images.githubusercontent.com/25522319/27136794-d026595a-5139-11e7-88fc-b2727c93479c.png)

[2017-06-15 08:52] sdseenu commented on #220
Dear Angelozerr,
How to match any one values in ui-grid-cell for list of rows and other rows do not show but currently through the errors like below
![image](https://user-images.githubusercontent.com/25522319/27136752-b62e7d0c-5139-11e7-9789-957f173e2b3a.png)

![image](https://user-images.githubusercontent.com/25522319/27136794-d026595a-5139-11e7-88fc-b2727c93479c.png)

[2017-06-15 08:54] sdseenu commented on #220
Dear,
How to match any one values in ui-grid-cell for list of rows and other rows do not show but currently through the errors like below
![](https://user-images.githubusercontent.com/25522319/27136794-d026595a-5139-11e7-88fc-b2727c93479c.png)

![](https://user-images.githubusercontent.com/25522319/27136752-b62e7d0c-5139-11e7-9789-957f173e2b3a.png)

[2017-06-15 10:04] sdseenu commented on #194
Hi,

To any one face this issues

![image](https://user-images.githubusercontent.com/25522319/27176368-dc7eff12-51df-11e7-9ef5-b80acc92cc60.png)

![image](https://user-images.githubusercontent.com/25522319/27176374-e0bb2600-51df-11e7-9eca-68adda4e5e1c.png)

Please any one to assist on this.

Thanks,
Srinivasan

[2017-06-15 10:16] aarya91 commented on #194
@sdseenu : can you please be more specific like which version of protractor you are using and which eclipse you are using etc

[2017-06-15 10:27] sdseenu commented on #194
Hi Aarya91,

Am try to run protractor using Eclipse Java EE IDE & Version: Neon Release (4.6.0)
See below connection.

![image](https://user-images.githubusercontent.com/25522319/27177228-368146b6-51e3-11e7-9164-47cd9cc1c845.png)

But i tried could not it run. Can you help me!!!

[2017-06-16 05:44] lizard1990 commented on #204
good

[2017-06-16 12:49] aarya91 commented on #194
I had some issues in integrating latest version of protractor. When I downgraded the version it worked. Can you please try downgrading the version

[2017-06-16 12:59] sdseenu commented on #194
Let me know the version details?

On Fri, Jun 16, 2017 at 6:19 PM, Aarya K Hareendranath <
notifications@github.com> wrote:

--
*Thanks & Regards,*
* Srinivasan B*
*+919789794231*

[2017-06-16 13:01] anjalisingh824 commented on #194
its node v7 and protractor 5 that i have installed on my lappi...but i am
bt able to choose the nodejs path from eclipse

On Jun 16, 2017 6:29 PM, "sdseenu" <notifications@github.com> wrote:

[2017-06-20 04:57] sudeep30m opened #221 "Could Not find the required bundle org.eclipse.wst.html.core;bundle-version="1.2.0""
Sir,

I am working on the extension of your plugin to add the static analysis tool - slicing in it. I could not find the required bundle org.eclipse.wst.html.core;bundle version="1.2.0" due to which Eclipse could not resolve module org.eclipse.angularjs.core and other modules depending on it. It would be of great help if you can provide me the jar file of the bundle.

[2017-06-20 06:38] anandgoudp opened #222 "Can we Install Protractor in Elcipse"
Hi,
Can we Install in Protractor in and run directly from eclipse ?

If there is a solution please help me out

Thanks in Advance

[2017-06-22 09:38] SharmaRavindra commented on #220
Facing same issue- Cannot find node install path node-native. Trying to run protractor program using Angular IDE.

[2017-06-23 06:43] angelozerr commented on #221
Install Eclipse Jee Neon and you should have this plugin.

[2017-06-23 06:55] #221 closed

[2017-07-04 03:55] pradipgit commented on #220
I updated with  http://oss.opensagres.fr/angularjs-eclipse/1.3.0-SNAPSHOT/

Eclipse ->Help->Install new software and it works for me.

[2017-07-06 17:28] sudeep30m opened #223 "Incorrect scope in Angual"
`<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>

<div  ng-controller="myCtrl2">
This is 2nd Controller
First Name: <input type="text" ng-model="firstName"><br>
L

[2017-08-12 06:33] sayantansinha opened #224 "ng command not recognized in eclipse preference"
After I add my angular-cli path on the Javascript->Typescript->Angular-CLI option under Eclipse Preference I get an error saying "The '<path to workspace project>/node_modules/@angular/cli/bin/ng' is not a ng file". I am currently using macOS Sierra (v10.12.6) and using the same ng --version command provides the correct output listing down the version. I got this ng file after running npm install

[2017-08-12 06:35] sayantansinha commented on #224
Closing issue as raised in the wrong place. I am using Angular 4 so raised under angular-eclipse repo

[2017-08-12 06:35] #224 closed, assigned to nobody

[2017-09-20 14:23] Vasundhara-vasu commented on #194
Hi All,

I am also facing the issue while running the "protractor script" using eclipse .

Below is my error.
C:\Users\agudla\eclipse-workspace\ProtractorSampleProject\node_modules\protractor\built\logger.js:76
    info(...msgs) {
         ^^^

SyntaxError: Unexpected token ...
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:414:25)
    at Object.Module._extensions.

[2017-09-20 17:36] Sunny-Teo commented on #194
@Vasundhara-vasu
#Run the script and you will get error.
 #Click on Debug (inline with the "Console" tab)
 #Right Click on the error and click “Edit Protractor for_XXX_conf.js.
 #Change the location of the nodejs which you have installed.
 Please check my comment above for the snapshot in a word doc. I hope it will help.
Let us know if it solves the problem.

[2017-09-21 04:46] Vasundhara-vasu commented on #194
@Sunny-Teo
Thanks for your reply . i tried with the steps you provided in the comment . issue solved , the script is now running in eclipse.

and ever time i am runing my  new script , i am  getting the same error so is there any option to save the above setting  ( as you  mentioned  in the comment )

[2017-09-22 11:10] srikrishna173 commented on #207
Hi,
Even I am facing the same issue. Can anyone please help me .
Using
1) npm version :- 3.10.10
2) Node version :- 6.11.3
3) Protractor Version. ;- 5.1.2
4) Eclipse Neon 2
Selenium server is up and running.

Config Code :-
exports.config = {
  seleniumAddress: 'http://localhost:4444/wd/hub',
  specs: ['todo-spec.js']
};
 Spec Code :-
describe('angularjs homepage todo list', function() {
  it('sho

[2017-10-20 05:29] FireController1847 commented on #197
@angelozerr Tern doesn't seem to show up in the preferences window. Any fix for this? I'm currently using Eclipse JavaScript Oxygen. I also can't see the Convert to tern... option.
![img](https://imgur.com/5Jwjh5W.png)
This seriously seems like an amazing plugin but this is quite annoying not being able to see literally _anything_. It's not showing in the preferences window, anywhere in the conver

[2017-10-26 09:40] RohitVerma0123 commented on #194
Hi All,

I'm trying to install protractor using cmd with command npm install -g protractor , but getting some kind of network error .

![image](https://user-images.githubusercontent.com/33117203/32046005-6835b93c-ba5f-11e7-9c76-899ed0cd6882.png)

Can anyone help me to resolve this issue , It seems to be a proxy error on my machine (I've also tried changing proxies but same error is still there).

[2017-10-28 03:52] Vasundhara-vasu commented on #194
@RohitVerma0123

No need to navigate to the nodejs folder , run the "npm install -g protractor" command in "C:\Program Files" location

[2017-11-24 05:12] MadhuKiranGitHub commented on #194
I cant see protractor in eclipse run configuration.
I am getting error: protractor: command not found

[2017-11-24 05:21] MadhuKiranGitHub commented on #194
Hello, I am able to run protractor conf.js from my command prompt but when i try to run it in eclipse(mars) I am facing the following issues. Please help
1.

I cant see protractor in eclipse run configuration.
2. I am getting error: protractor: command not found
![screen shot 2017-11-23 at 9 18 23 pm](https://user-images.githubusercontent.com/32732610/33196491-436019a4-d094-11e7-80b4-b9f5da5c3193.

[2017-11-25 00:36] Pbujji commented on #194
@MadhuKiranGitHub
Hi I have the same issue,Have you got solution for "protractor: command not found".

[2017-11-25 00:48] MadhuKiranGitHub commented on #194
@Pbujji :  No still facing the same issue.
But I followed a different approach and now I am able to execute.
Please follow link--> https://www.youtube.com/watch?v=8dZ3isYcthI
Hope this helps :)

[2017-11-26 06:56] Sunny-Teo commented on #194
@Vasundhara-vasu
Please check my Feb 23 comment for the below:-

"ever time i am runing my new script , i am getting the same error so is there any option to save the above setting ( as you mentioned in the comment )"
There I have provided a workaround for this.
Let me know if it helped.

[2017-12-26 19:24] #198 closed

[2018-03-04 04:47] lnallan commented on #199
I am facing the same issue too....with nodeclipse debugger and enide IDE

[2018-03-08 15:05] Cillard opened #225 "Code completion does not work for Angular directives"
<!DOCTYPE html>
<html data-ng-app>
<head>
	<title>Hello World, AngularJS</title>
	<script type="text/javascript"
		src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

</head>
<body >

	<h1>Hello!</h1>

    <div>{{ 843 /42 }}</div>

    Type a Name:
    <input type="text" data-ng-model="enteredText" />

    <h1>Hello {{ enteredText}}, Welcome to Angulaar</h1>

</body>
</

[2018-04-16 16:07] aleroot opened #226 "Unknown directive parameter for directive ng-md-icon"
I have inside a html file a line like this one :
`<ng-md-icon icon="{{iconaWorse}}" style="fill: {{coloreWorse}};" size="40"></ng-md-icon> <br />`

and Eclipse is marking the line as an error, saying:

Unknown directive parameter for directive ng-md-icon

and all 3 parameters : icon, style and size are marked with red dotted undelying .

Is there anyway to  workaround the error marker?

the Docume

[2018-07-13 21:02] chr1xm opened #227 "Troubles installing any version of angularjs 1.3 or 1.2"
Hi team,

I was trying to install this plugin but every time I get the next message:
_**1.2**_
An error occurred while collecting items to be installed
session context was:(profile=C__Users_Glober Chris_eclipse_javascript-photon_eclipse, phase=org.eclipse.equinox.internal.p2.engine.phases.Collect, operand=, action=).
Unable to read repository at http://oss.opensagres.fr/angularjs-eclipse/1.2.0/plu

[2018-07-22 19:26] Gaurav08021989 commented on #165
I am also facing the same problem

[2018-12-12 20:52] sojourner6 opened #230 "Using user-provided arguments in Protractor run configuration"
How do we extract command line arguments passed in Eclipse in our Protractor config file.
From the CLI, i pass arguments like `--params.login_user=user`. I am unable to use them in the protractor config file with variable `process.env.login_user`

[2019-02-24 18:23] rajeswari463 commented on #194
Hi ,
I am also facing the same issue, which version nodejs solved your issue?

[2019-02-25 17:04] chudyed commented on #194
@rajeswari463
I just gave up with Eclipse and started to work with VSCode - just give it a try, should work.

[2019-07-09 06:01] naveennvn opened #231 "Unable to install the plugin in eclipse-oxygen javascript version"
Environment:
Windows 10
Eclipse-oxygen javascript version 4.7.3

while trying to install 'angularjs-eclipse' from install new software
http://oss.opensagres.fr/angularjs-eclipse/1.2.0/ it gives me error saying connection timeout its not at all getting connected to the repo i tried many times
Can you provide any alternate way to install this plugin

[2019-12-08 13:07] seetaramh commented on #194
Below link explains clearly on how to install required plugins to eclipse and configure protractor:
http://selftechy.com/2019/12/08/setting-up-protractor-with-latest-eclipse-windows-plugins-settings

[2019-12-08 13:09] seetaramh commented on #194
I think even I thought of doing that as I had downloaded latest eclipse version. All the plugins and configurations mentioned above (also in stackoverflow) are related to previous version of the eclipse and the plugins. Below is the link which explains how to configure protractor with latest eclipse and its plugins:
http://selftechy.com/2019/12/08/setting-up-protractor-with-latest-eclipse-windows-